@using System.Configuration
@using Signum.Engine.Operations
@model TypeContext
@{
    ModifiableEntity modifiable = Model.UntypedValue as ModifiableEntity;
    string partialViewName = ViewData[ViewDataKeys.PartialViewName].ToString();
    var wc = new WidgetContext { TypeContext = Model, PartialViewName = partialViewName, Url = Url };
}
<h3>
    @Html.AntiForgeryToken()
    @Html.Hidden(ViewDataKeys.TabId, ViewData[ViewDataKeys.TabId])
    @Html.Hidden(ViewDataKeys.PartialViewName, ViewData[ViewDataKeys.PartialViewName])

    @if (string.IsNullOrEmpty(ViewBag.Title))
    {
        ViewBag.Title = modifiable?.ToString();
    }
    <span class="sf-entity-title">@(ViewBag.Title)</span>,
    <br />
    <small class="sf-type-nice-name">@Navigator.Manager.GetTypeTitle(modifiable)</small>
</h3>
@Html.RenderWidgets(wc
    )
<div class="sf-button-bar">
    @ButtonBarEntityHelper.GetForEntity(new EntityButtonContext
    {
        Url = Url,
        ViewMode = ViewMode.Navigate,
        ShowOperations = (bool)ViewData[ViewDataKeys.ShowOperations],
        ControllerContext = this.ViewContext,
        PartialViewName = ViewData[ViewDataKeys.PartialViewName].ToString(),
        Prefix = Model.Prefix
    }, (ModifiableEntity)Model.UntypedValue).ToStringButton(Html)
</div>
@Html.ValidationSummaryAjax()
@Html.HiddenRuntimeInfo(Model)
@if (((bool?)ViewData[ViewDataKeys.WriteEntityState]) == true)
{
    @Html.Hidden(ViewDataKeys.EntityState, Navigator.Manager.SerializeEntity(modifiable))
}
@using (Html.RenderEmbeddedWidget(wc))
{
    <div id="divMainControl" class="sf-main-control" data-prefix="@Model.Prefix" data-test-ticks="@DateTime.Now.Ticks">
        @{ Html.RenderPartial(partialViewName, Model);}
    </div>
}
