@using System.Configuration
@using Signum.Web.Properties
@{ TypeContext modelTC = (TypeContext)ViewData.Model;}
<h2>
    @Html.Hidden(ViewDataKeys.TabId, ViewData[ViewDataKeys.TabId])
    @Html.Hidden(ViewDataKeys.PartialViewName, ViewData[ViewDataKeys.PartialViewName])
    <span class="typeNiceName">@modelTC.UntypedValue.GetType().NiceName()</span>
    @{ IIdentifiable identifiable = modelTC.UntypedValue as IIdentifiable;}
    @if (identifiable != null)
    {
        <span class="entityId">
            @if (identifiable.IdOrNull != null)
            {
                <span class="separator">[</span>
                <span>ID: @identifiable.IdOrNull.Value</span> 
                <span class="separator">]</span>
            }
        </span>
    }
    <span class="title">@(ViewData[ViewDataKeys.Title] ?? "")</span>
</h2>
<ul class="button-bar">
    @if (Model != null && Navigator.Manager.ShowOkSave(modelTC.UntypedValue.GetType(), false))
    {
        <li><a id="btnSave" class="entity-button save" onclick="javascript:TrySave({controllerUrl:'@Url.SignumAction("TrySave")'});">@Resources.Save</a></li>  
    }
    @ButtonBarEntityHelper.GetForEntity(this.ViewContext, (ModifiableEntity)modelTC.UntypedValue, ViewData[ViewDataKeys.PartialViewName].ToString(), modelTC.ControlID).ToString(Html)
</ul>
<div class="clearall">
</div>
<div class="validationSummaryAjax">
    @Html.ValidationSummaryAjax()
    @Html.NormalPageHeader()
</div>
<div id="divMainControl" class="divMainControl">
    @{ Html.RenderPartial(ViewData[ViewDataKeys.PartialViewName].ToString(), (object)Model);}
</div>
