@using Signum.Entities.Reflection
@using Signum.Engine.Operations
@model TypeContext
@{ var modifiable = (ModifiableEntity)Model.UntypedValue; }
<div id="@Model.Compose("panelPopup")" class="sf-popup-control" data-prefix="@Model.ControlID">
    <span class="sf-popup-title" style="display:none">
    <span style="float:left; display:block">
    @Navigator.Manager.GetTypeTitle(modifiable)
    </span>
      @{
            var ident = Model.UntypedValue as IdentifiableEntity;

            if (ident != null && !ident.IsNew && Navigator.IsNavigable(ident, null))
            {
                <a href="@Navigator.NavigateRoute(ident)" class="sf-popup-fullscreen">
                <span class="ui-icon ui-icon-extlink">fullscreen</span>
                </a>
            }
        }
    </span>
    <span class="sf-entity-title">@(ViewBag.Title ?? Model.UntypedValue.TryToString()) </span>
    <div class="sf-button-bar">
        @if (ViewData.ContainsKey(ViewDataKeys.OkVisible) && (bool)ViewData[ViewDataKeys.OkVisible])
        {
            var saveProtected = (bool)ViewData[ViewDataKeys.SaveProtected]; 
            <button id="@Model.Compose("btnOk")" class="sf-entity-button sf-ok-button@(saveProtected ? " sf-save-protected" : "")" @(ViewData[ViewDataKeys.OnOk] != null ? Html.Raw("onclick=\"" + ViewData[ViewDataKeys.OnOk] + "\"") : null)>
                OK</button>                
        }

        @ButtonBarEntityHelper.GetForEntity(new EntityButtonContext
        {
            ViewButtons = (ViewButtons)ViewData[ViewDataKeys.ViewButtons],
            ControllerContext = this.ViewContext,
            PartialViewName = ViewData[ViewDataKeys.PartialViewName].ToString(),
            Prefix = Model.ControlID,
            ShowOperations = (bool?)ViewData[ViewDataKeys.ShowOperations] ?? true,
        }, modifiable).ToString(Html)
    </div>
    @Html.ValidationSummaryAjax(Model)
    <div id="@Model.Compose("divMainControl")" class="sf-main-control@(modifiable.IsGraphModified ? " sf-changed" : "")" 
        data-prefix="@Model.ControlID" 
        data-runtimeinfo="@Model.RuntimeInfo().ToString()">
        @if (((bool?)ViewData[ViewDataKeys.WriteEntityState]) == true)
        {
            @Html.Hidden(Model.Compose(ViewDataKeys.EntityState), Navigator.Manager.SerializeEntity(modifiable))
        }
        @{ 
            ViewData[ViewDataKeys.InPopup] = true;
             
            Html.RenderPartial(ViewData[ViewDataKeys.PartialViewName].ToString(), Model);
        }
    </div>
</div>
