@using Signum.Entities.DynamicQuery
@using Signum.Engine.DynamicQuery
@using System.Configuration
@using Signum.Entities.Reflection
@model Context
@{ 
    Model.ReadOnly = false; /*SearchControls Context should never inherit Readonly property of parent context */
    FindOptions findOptions = (FindOptions)ViewData[ViewDataKeys.FindOptions];
    QueryDescription queryDescription = (QueryDescription)ViewData[ViewDataKeys.QueryDescription];
    var entityColumn = queryDescription.Columns.SingleEx(a => a.IsEntity);
    Type entitiesType = Lite.Extract(entityColumn.Type);
    Implementations implementations = entityColumn.Implementations.Value;
    findOptions.Pagination = findOptions.Pagination ?? (Navigator.Manager.QuerySettings.GetOrThrow(findOptions.QueryName, "Missing QuerySettings for QueryName {0}").Pagination) ?? FindOptions.DefaultPagination;
    
    ViewData[ViewDataKeys.FindOptions] = findOptions;

    var controlID = Model.Compose("sfSearchControl");
}
<div id="@controlID" 
     class="sf-search-control SF-control-container" 
     data-prefix="@Model.ControlID" 
     data-find-url="@Navigator.FindRoute(findOptions.QueryName)" 
     >

    @Html.Hidden(Model.Compose("sfEntityTypeNames"), 
                                implementations.IsByAll ? StaticInfo.ImplementedByAllKey  :
                                implementations.Types.ToString(t => Navigator.ResolveWebTypeName(t), ","), new { disabled = "disabled" })
     @Html.Hidden(Model.Compose("sfEntityTypeNiceNames"), 
                                implementations.IsByAll ? StaticInfo.ImplementedByAllKey  :
                                implementations.Types.ToString(t =>  t.NiceName(), ","), new { disabled = "disabled" })
        
    
    @{
        bool filtersAlwaysHidden = findOptions.FilterMode == FilterMode.AlwaysHidden || findOptions.FilterMode == FilterMode.OnlyResults;
        bool filtersVisible = findOptions.FilterMode == FilterMode.Visible;
     }
    
    <div style="display:@(filtersAlwaysHidden ? "none" : "block")">
        <div class="sf-fields-list">
            <div class="ui-widget sf-filters" @(filtersVisible ? "" : "style=display:none")>
                <div class="ui-widget-header ui-corner-top sf-filters-body">
                    @Html.QueryTokenBuilder(null, Model, queryDescription)
                
                    @Html.Href(
                            Model.Compose("btnAddFilter"), 
                            SearchMessage.FilterBuilder_AddFilter.NiceToString(), 
                            "",
                            JavascriptMessage.selectToken.NiceToString(),
                            "sf-query-button sf-add-filter sf-disabled", 
                            new Dictionary<string, object> 
                            { 
                                { "data-icon", "ui-icon-arrowthick-1-s" }
                            })

                    @if (string.IsNullOrEmpty(Model.ControlID) && findOptions.AllowChangeColumns)
                    {
                        @Html.Href(
                            Model.Compose("btnAddColumn"), 
                            SearchMessage.FilterBuilder_AddColumn.NiceToString(), 
                            "",
                            JavascriptMessage.selectToken.NiceToString(),
                            "sf-query-button sf-add-column sf-disabled", 
                            new Dictionary<string, object> 
                            { 
                                { "data-icon", "ui-icon-arrowthick-1-e" },
                                { "data-url", Url.SignumAction("GetColumnName") }
                            })
                    }
                </div>
                @{ 
                    ViewData[ViewDataKeys.FilterOptions] = findOptions.FilterOptions;
                    Html.RenderPartial(Navigator.Manager.FilterBuilderView); 
                }
            </div>
        </div>
    </div>
    
    @if (!filtersAlwaysHidden)
    {
        @Html.Href("",
                (filtersVisible ? JavascriptMessage.hideFilters.NiceToString() : JavascriptMessage.showFilters.NiceToString()),
                "",
                (filtersVisible ? JavascriptMessage.hideFilters.NiceToString() : JavascriptMessage.showFilters.NiceToString()),
                "sf-query-button sf-filters-header" + (filtersVisible ? "" : " close"),
                new Dictionary<string, object> 
                { 
                    { "onclick", JsFunction.SFControlThen(controlID,  "toggleFilters()") },
                    { "data-icon", filtersVisible ? "ui-icon-triangle-1-n" : "ui-icon-triangle-1-e" }
                })
    }
    @if (findOptions.FilterMode != FilterMode.OnlyResults && (bool?)ViewData[ViewDataKeys.InPopup] != true)
    { 
        @Html.Href(Model.Compose("sfFullScreen"),
            "Full Screen",
            "",
            "Full Screen",
            "sf-query-button sf-query-fullscreen", 
            new Dictionary<string, object> 
            { 
                { "data-icon", "ui-icon-extlink" },
                { "data-text", false }
            })
    }
    
    <div class="sf-query-button-bar" style="display:@((findOptions.FilterMode != FilterMode.OnlyResults) ? "block" : "none")">
        <button class="sf-query-button sf-search" data-icon="ui-icon-search" id="@Model.Compose("qbSearch")" onclick="event.preventDefault(); @JsFunction.SFControlThen(controlID, "search()")">@SearchMessage.Search.NiceToString()</button>
        @if (findOptions.Create)
        {
            <a class="sf-query-button" data-icon="ui-icon-plusthick" data-text="false" id="@Model.Compose("qbSearchCreate")" onclick="event.preventDefault();@JsFunction.SFControlThen(controlID, "create_click()")">@SearchMessage.Create.NiceToString()</a>
        }
        @ButtonBarQueryHelper.GetButtonBarElementsForQuery(new QueryButtonContext
       {
           Url = Url,
           ControllerContext = this.ViewContext,
           QueryName = findOptions.QueryName,
           ManualQueryButtons = (ToolBarButton[])ViewData[ViewDataKeys.ManualToolbarButtons],
           EntityType = entitiesType,
           Prefix = Model.ControlID
       }).ToString(Html)
    </div>
    @if (findOptions.FilterMode != FilterMode.OnlyResults)
    {
        <div class="clearall">
        </div>
    }
    <div id="@Model.Compose("divResults")" class="ui-widget ui-corner-all sf-search-results-container">
        <table id="@Model.Compose("tblResults")" class="sf-search-results">
            <thead class="ui-widget-header ui-corner-top">
                <tr>
                    @if (findOptions.AllowSelection)
                    {
                        <th class="ui-state-default sf-th-selection">
                            @Html.CheckBox(Model.Compose("cbSelectAll"), false, new { onclick = JsFunction.SFControlThen(controlID, "toggleSelectAll()")})
                        </th>
                    }
                    @if (findOptions.Navigate)
                    {
                        <th class="ui-state-default sf-th-entity">
                        </th>
                    }
                    @{List<Column> columns = findOptions.MergeColumns(); }
                    @foreach (var col in columns)
                    {
                        var order = findOptions.OrderOptions.FirstOrDefault(oo => oo.Token.FullKey() == col.Name);
                        OrderType? orderType = null;
                        if (order != null)
                        {
                            orderType = order.OrderType;
                        }
                        <th class="ui-state-default @((orderType == null) ? "" : (orderType == OrderType.Ascending ? "sf-header-sort-down" : "sf-header-sort-up"))">
                            <div class="sf-header-droppable sf-header-droppable-right"></div>
                            <div class="sf-header-droppable sf-header-droppable-left"></div>
                            <input type="hidden" value="@col.Name" />
                            <span>@col.DisplayName</span>
                        </th>
                    }
                </tr>
            </thead>
            <tbody class="ui-widget-content">
                @{ int columnsCount = columns.Count + (findOptions.Navigate ? 1 : 0) + (findOptions.AllowSelection ? 1 : 0); }
                <tr>
                    <td colspan="@columnsCount">@JavascriptMessage.noResults.NiceToString()</td>
                </tr>
                @{ 
                    ViewData[ViewDataKeys.Pagination] = findOptions.Pagination;
                    ViewData[ViewDataKeys.FilterMode] = findOptions.FilterMode;
                    ViewData[ViewDataKeys.SearchControlColumnsCount] = columnsCount;
                }
                @Html.Partial(Navigator.Manager.PaginationSelectorView, Model)
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    require(["@JsFunction.FinderModule"], function(Finder) { new Finder.SearchControl($("#@Model.Compose("sfSearchControl")"), @(MvcHtmlString.Create(findOptions.ToJS(Model.ControlID).ToString()))).ready();});
</script>
