@using Signum.Entities.DynamicQuery
@using Signum.Entities.Reflection
@using Signum.Web.Properties
@using Signum.Engine
@model Context

@{ 
   QueryDescription queryDescription = (QueryDescription)ViewData[ViewDataKeys.QueryDescription];
   var entityColumn = queryDescription.Columns.SingleEx(a => a.IsEntity);
   Implementations implementations = entityColumn.Implementations.Value;
   bool viewable = (bool)ViewData[ViewDataKeys.Navigate] && (implementations.IsByAll ? true : implementations.Types.Any(t => Navigator.IsNavigable(t, isSearchEntity: true)));
   bool allowMultiple = (bool)ViewData[ViewDataKeys.AllowMultiple];

   FilterMode filterMode = (FilterMode)ViewData[ViewDataKeys.FilterMode];
   
   ResultTable queryResult = (ResultTable)ViewData[ViewDataKeys.Results];
   Dictionary<int, CellFormatter> formatters = (Dictionary<int, CellFormatter>)ViewData[ViewDataKeys.Formatters];

   int columnsCount = queryResult.Columns.Count() + (viewable ? 1 : 0) + (allowMultiple ? 1 : 0);
}

@if (ViewData.ContainsKey(ViewDataKeys.MultipliedMessage))
{ 
    <tr class="sf-tr-multiply">
        <td class="sf-td-multiply ui-state-highlight" colspan="@columnsCount">
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            @ViewData[ViewDataKeys.MultipliedMessage]
        </td>
    </tr>
}

@foreach (var row in queryResult.Rows)
{
    Lite<IIdentifiable> entityField = row.Entity;
    <tr data-entity="@entityField.Key()">
        @if (allowMultiple)
        {
            <td>
                @Html.CheckBox(
                    Model.Compose("rowSelection", row.Index.ToString()),
                        new 
                        {
                            @class = "sf-td-selection", 
                            value = entityField.Id.ToString() + "__" + Navigator.ResolveWebTypeName(entityField.RuntimeType) + "__" + entityField.ToString() 
                        })
            </td>
        }
        @if (viewable)
        {
            <td>
                @QuerySettings.EntityFormatRules.Last(fr => fr.IsApplyable(entityField)).Formatter(Html, entityField)
            </td>
        }
        @foreach (var col in queryResult.Columns)
        {
            var value = row[col];
            var ft = formatters[col.Index];
            
            <td @ft.WriteDataAttribute(value)>
                @ft.Formatter(Html, value)
            </td>
        }
    </tr>
}

@if (queryResult.Rows.IsNullOrEmpty())
{
    <tr>
        <td colspan="@columnsCount">@Resources.Signum_noResults</td>
    </tr>
}

@{ 
    ViewData[ViewDataKeys.ElementsPerPage] = queryResult.ElementsPerPage;
    ViewData[ViewDataKeys.SearchControlColumnsCount] = columnsCount;
}
@Html.Partial(Navigator.Manager.PaginationView, Model)
