@model Signum.Web.Context
@{
    ValueLineBoxOptions options = ViewBag.Options;    
}

<div id="@Model.Compose("panelPopup")" class="sf-popup-control" data-prefix="@Model.Prefix">
    <span class="sf-popup-title">
        @options.title
    </span>

    <div class="sf-button-bar">
        <button id="@Model.Compose("btnOk")" class="sf-entity-button sf-ok-button">OK</button>
    </div>
    <p>
        @options.message
    </p>
    @Html.ValueLine(new ValueLine(@ViewBag.type, options.value, Model, "value", null)
{
    LabelText = options.labelText,
    LabelVisible = options.labelText.HasText()
})
</div>
