@using Signum.Engine
@using Signum.Entities.Mailing
@using (var e = Html.TypeContext<EmailMessageDN>())
{
    @Html.EntityLine(e, f => f.Recipient)
    @Html.EntityLine(e, f => f.Template, f => f.ReadOnly = true)
    @Html.ValueLine(e, f => f.Sent, f => f.ReadOnly = true)
    @Html.ValueLine(e, f => f.Received, f => f.ReadOnly = true)
    @Html.EntityLine(e, f => f.Exception, f => f.ReadOnly = true)
    @Html.ValueLine(e, f => f.State, f => f.ReadOnly = true)
    @Html.EntityLine(e, f => f.Package, f => f.ReadOnly = true)
    @Html.ValueLine(e, f => f.Subject)
    <h3>@EmailMessageMessage.Message.NiceToString():</h3>
    <div>
        @if (e.Value.IsBodyHtml)
        {
            @Html.Raw(e.Value.Text)
        } 
        else
        {
          @Html.Raw(HttpUtility.HtmlEncode(e.Value.Text))
        }
    </div>
}
