@using Signum.Entities.Mailing

@Html.ScriptCss("~/Mailing/Content/SF_Mailing.css")
@Html.ScriptsJs("~/Scripts/ckeditor/ckeditor.js")
@Html.ScriptsJs("~/Mailing/Scripts/SF_Mailing.js")

@using (var ec = Html.TypeContext<EmailMasterTemplateDN>())
{
    @Html.ValueLine(ec, e => e.Name)
    <div class="clearall" />
    <div class="sf-email-replacements-container sf-tabs-repeater">
        @Html.EntityRepeater(ec, e => e.Messages, er =>
        {
            er.Removing = "";
            er.Creating = "SF.TabsRepeater.addItem();";
            er.PreserveViewData = true;
        })
    </div>
}

@Html.ScriptsJs("~/Mailing/Scripts/SF_TabsRepeater.js")