@using Signum.Entities.Mailing

@using (var sc = Html.TypeContext<EmailConfigurationEmbedded>())
{
    @Html.ValueLine(sc, ca => ca.ReciveEmails)
    @Html.ValueLine(sc, ca => ca.SendEmails)
    @Html.ValueLine(sc, ca => ca.OverrideEmailAddress)
    @Html.EntityCombo(sc, ca => ca.DefaultCulture)
    @Html.ValueLine(sc, ca => ca.UrlLeft)

    using (var ac = sc.SubContext())
    {
        ac.FormGroupStyle = FormGroupStyle.Basic;
        <fieldset class="form-vertical">
            <legend>Async</legend>
            <div class="row">
                <div class="col-sm-6">
                    @Html.ValueLine(ac, ca => ca.AvoidSendingEmailsOlderThan)
                    @Html.ValueLine(ac, ca => ca.ChunkSizeSendingEmails)
                </div>
                <div class="col-sm-6">
                    @Html.ValueLine(ac, ca => ca.MaxEmailSendRetries)
                    @Html.ValueLine(ac, ca => ca.AsyncSenderPeriod)
                </div>
            </div>
        </fieldset>
    }
}
