@using Signum.Entities.Mailing
@using (var ec = Html.TypeContext<EmailMasterTemplateDN>())
{
    @Html.ValueLine(ec, e => e.Name)
    @Html.ValueLine(ec, e => e.State)

    <div id="messageEditContent">
        @Html.ValueLine(ec, e => e.Text, vl =>
               {
                   vl.ValueLineType = ValueLineType.TextArea;
                   vl.ValueHtmlProps["cols"] = "30";
                   vl.ValueHtmlProps["rows"] = "6";
                   vl.ValueHtmlProps["class"] = "sf-email-htmlwrite";
               })
        <br />
        <input type="button" class="sf-button" id="insertMasterTemplateTokenButton" value="@(EmailTemplateViewMessage.InsertMessageContent.NiceToString())" />
    </div>
}
@Html.ScriptsJs("~/Mailing/Scripts/SF_Mail.js")
