@using Signum.Entities.Mailing
@using Signum.Engine.Basics
@using (var ec = Html.TypeContext<EmailTemplateMessageDN>())
{
    <div class="sf-email-messageContainer">
        <input type="hidden" class="sf-email-culture" value="@(ec.Value.CultureInfo.CultureInfo.DisplayName)" />
        @Html.ValueLine(ec, e => e.CultureInfo, vl =>
        {
            vl.ValueLineType = ValueLineType.Combo;
            vl.EnumComboItems = CultureInfoLogic.ApplicationCultures.OrderBy(
                ci => ci.Name).ThenBy(ci => ci.IsNeutralCulture).Select(ci =>
                    new SelectListItem 
                    { 
                        Text = ci.DisplayName, 
                        Value = ci.Name, 
                        Selected = ci.Name == ec.Value.CultureInfo.CultureInfo.Name 
                    }).ToList();           
        })
        <fieldset>
            <legend>Replacement</legend>
            <textarea cols="30" rows="6"></textarea>
            <input type="button" class="sf-button sf-email-insertTokenTextButton" value="@Signum.Web.Extensions.Properties.Resources.InsertInText" />
            <input type="button" class="sf-button sf-email-insertIterationTextButton" value="@Signum.Web.Extensions.Properties.Resources.InsertIterationInText" />
            <input type="button" class="sf-button sf-email-insertTokenSubjectButton" value="@Signum.Web.Extensions.Properties.Resources.InsertInSubject" />
            <input type="button" class="sf-button sf-email-insertIterationSubjectButton" value="@Signum.Web.Extensions.Properties.Resources.InsertIterationInSubject" />
        </fieldset>
        @Html.ValueLine(ec, e => e.Subject)
        <div class="sf-email-messageEditContent">
            @Html.ValueLine(ec, e => e.Text, vl =>
            {
                vl.ValueLineType = ValueLineType.TextArea;
                vl.ValueHtmlProps["cols"] = "30";
                vl.ValueHtmlProps["rows"] = "6";
                vl.ValueHtmlProps["class"] = "sf-email-htmlwrite";
            })
            <br />
            <input type="button" class="sf-button sf-email-messagePreviewContentButton" value="@Signum.Web.Extensions.Properties.Resources.PreviewContent" />
        </div>
        <div class="sf-email-messagePreviewContent" style="display: none;">
            <fieldset>
                <legend>Message</legend>
                <iframe name="frameNewImage" src="about:blank" class="sf-email-htmlBody"
                    frameborder="0"></iframe>
                <br />
                <input type="button" class="sf-button sf-email-messageEditContentButton" value="@Signum.Web.Extensions.Properties.Resources.EditContent" />
            </fieldset>
        </div>
    </div>
}
@Html.ScriptsJs("~/Mailing/Scripts/SF_Mail.js")
