<h2>@AuthMessage.ChangePasswordAspx_ChangePassword.NiceToString()</h2>
<p> </p>
<p>@ViewData["message"] </p>
<p> </p>
<p>@AuthMessage.ChangePasswordAspx_WriteActualPasswordAndNewOne.NiceToString()</p>
@Html.ValudationSummaryStatic()
@using (Html.BeginForm())
{
    
       @Html.Hidden(UserMapping.UserNameKey, ViewData["username"])
    
    <div id="changePassword">
        <table>
            <tr>
                <td class="label">@AuthMessage.ChangePasswordAspx_ActualPassword.NiceToString():
                </td>
                <td>
                    @Html.Password(UserMapping.OldPasswordKey)
                    @Html.ValidationMessage(UserMapping.OldPasswordKey)
                </td>
            </tr>
            <tr>
                <td class="label">@AuthMessage.ChangePasswordAspx_NewPassword.NiceToString():
                </td>
                <td>
                    @Html.Password(UserMapping.NewPasswordKey)
                    @Html.ValidationMessage(UserMapping.NewPasswordKey)
                </td>
            </tr>
            <tr>
                <td class="label">@AuthMessage.ChangePasswordAspx_ConfirmNewPassword.NiceToString():
                </td>
                <td>
                    @Html.Password(UserMapping.NewPasswordBisKey)
                    @Html.ValidationMessage(UserMapping.NewPasswordBisKey)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" class="sf-button" value="@AuthMessage.ChangePasswordAspx_ChangePassword.NiceToString()" />
                </td>
            </tr>
        </table>
    </div>
} 