@{  
    ViewBag.Title = AuthMessage.ChangePassword.NiceToString();
}

<div class="col-sm-offset-4">
    <h2>Login</h2>
    <p>
        @AuthMessage.ChangePasswordAspx_ChangePassword.NiceToString()
    </p>
    @Html.ValudationSummaryStatic()
</div>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-offset-2 col-sm-2 control-label">@AuthMessage.ChangePasswordAspx_ActualPassword.NiceToString()</label>
            <div class="col-sm-4">
                @Html.Password(UserMapping.OldPasswordKey, null, new { @class = "form-control", placeholder = AuthMessage.ChangePasswordAspx_ActualPassword.NiceToString() })
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-offset-2 col-sm-2 control-label">@AuthMessage.ChangePasswordAspx_NewPassword.NiceToString()</label>
            <div class="col-sm-4">
                @Html.Password(UserMapping.NewPasswordKey, null, new { @class = "form-control", placeholder = AuthMessage.ChangePasswordAspx_NewPassword.NiceToString() })
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-offset-2 col-sm-2 control-label">@AuthMessage.ChangePasswordAspx_ConfirmNewPassword.NiceToString()</label>
            <div class="col-sm-4">
                @Html.Password(UserMapping.NewPasswordBisKey, null, new { @class = "form-control", placeholder = AuthMessage.ChangePasswordAspx_ConfirmNewPassword.NiceToString() })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
            <button type="submit" class="btn btn-default" id="login">@AuthMessage.ChangePassword.NiceToString()</button>
        </div>
    </div>   
}