<h2>@Resources.ChangePasswordAspx_ChangePassword</h2>
<p> </p>
<p>@ViewData["message"] </p>
<p> </p>
<p>@Resources.ChangePasswordAspx_WriteActualPasswordAndNewOne</p>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    
       @Html.Hidden(UserMapping.UserNameKey, ViewData["username"])
    
    <div id="changePassword">
        <table>
            <tr>
                <td class="label">@Resources.ChangePasswordAspx_ActualPassword:
                </td>
                <td>
                    @Html.Password(UserMapping.OldPasswordKey)
                    @Html.ValidationMessage(UserMapping.OldPasswordKey)
                </td>
            </tr>
            <tr>
                <td class="label">@Resources.ChangePasswordAspx_NewPassword:
                </td>
                <td>
                    @Html.Password(UserMapping.NewPasswordKey)
                    @Html.ValidationMessage(UserMapping.NewPasswordKey)
                </td>
            </tr>
            <tr>
                <td class="label">@Resources.ChangePasswordAspx_ConfirmNewPassword:
                </td>
                <td>
                    @Html.Password(UserMapping.NewPasswordBisKey)
                    @Html.ValidationMessage(UserMapping.NewPasswordBisKey)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" class="sf-button" value="@Resources.ChangePasswordAspx_ChangePassword" />
                </td>
            </tr>
        </table>
    </div>
} 