@{
    ViewBag.Title = AuthMessage.Login.NiceToString();
}
<script type="text/javascript">
    $(function () { $("#username").focus(); });
</script>
<br />
<div class="col-sm-offset-4">
    <h2>Login</h2>
    @if (Signum.Web.Auth.AuthClient.SingleSignOnMessage)
    {
        <p>
            @AuthMessage.Welcome0.NiceToString().FormatHtml(new HtmlTag("code").SetInnerText(User.Identity.Name))
        </p>
    }
    <p>
        @AuthMessage.IntroduceYourUserNameAndPassword.NiceToString()
    </p>

    @Html.ValudationSummaryStatic()
</div>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-offset-2 col-sm-2 control-label">@AuthMessage.Username.NiceToString()</label>
            <div class="col-sm-4">
                @Html.TextBox("username", null, new { @class = "form-control", placeholder = AuthMessage.Username.NiceToString() })
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-offset-2 col-sm-2 control-label">@AuthMessage.Password.NiceToString()</label>
            <div class="col-sm-4">
                @Html.Password("password", null, new { @class = "form-control", placeholder = AuthMessage.Password.NiceToString() })
            </div>
        </div>
        @if (Signum.Engine.Authorization.UserTicketLogic.IsStarted)
        {
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("rememberMe") @AuthMessage.RememberMe.NiceToString()
                        </label>
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <button type="submit" class="btn btn-default" id="login">@AuthMessage.Login.NiceToString()</button>
                @if (AuthClient.ResetPasswordStarted)
                {
                    <div id="sf-login-reset-password">@Html.ActionLink(AuthMessage.IHaveForgottenMyPassword.NiceToString(), "resetPassword", "auth")</div>
                }
            </div>
        </div>
        @if (ViewData.ContainsKey("referrer"))
        {
            @Html.Hidden("referrer", ViewData["referrer"])
        }
    </div>
}
