@{  
    ViewBag.Title = AuthMessage.LoginEnter.NiceToString();
}
<script type="text/javascript">
    $(function () { $("#username").focus(); });
</script>
<div class="sf-login-page">
<h2>
    Login</h2>
<p>
    @AuthMessage.IntroduceYourUserNameAndPassword.NiceToString()
</p>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div>
        <table>
            <tr>
                <td>
                    @AuthMessage.User.NiceToString():
                </td>
                <td>
                    @Html.TextBox("username")
                    @Html.ValidationMessage("username")
                </td>
            </tr>
            <tr>
                <td>
                    @AuthMessage.Password.NiceToString():
                </td>
                <td>
                    @Html.Password("password")
                    @Html.ValidationMessage("password")
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    @if (Request.Browser.Cookies)
                    {
                        @Html.CheckBox("rememberMe") @AuthMessage.RememberMe.NiceToString()
                    }
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input class="sf-button login" type="submit" value="@AuthMessage.LoginEnter.NiceToString()" />
                </td>
            </tr>
            @if (AuthClient.ResetPasswordStarted)
            {
                <tr>
                    <td>
                    </td>
                    <td>
                        <div id="sf-login-reset-password">@Html.ActionLink(AuthMessage.IHaveForgottenMyPassword.NiceToString(), "resetPassword", "auth")</div>
                    </td>
                </tr>
            }
        </table>
        @if (ViewData.ContainsKey("referrer"))
        { 
            @Html.Hidden("referrer", ViewData["referrer"]) 
        }
    </div>
} 
</div>