@{ 
    this.ViewBag.Title = Resources.RememberPassword;
}
<script type="text/javascript">    $(function () { $("#username").focus(); }); </script>
<div id="remember-login-form">
    <h2>@Resources.RememberPassword</h2>
    <p>@Resources.RememberPasswordExplanation</p>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        <table id="remember">
            <tr>
                <td>
                    <label for="username">@Html.PropertyNiceName((UserDN u) => u.UserName)</label>:
                </td>
                <td>
                    @Html.TextBox("username", "", new { size = 30 })
                    @Html.ValidationMessage("username")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">
                        Email</label>:
                </td>
                <td>
                    @Html.TextBox("email", "", new { size = 30 })
                    @Html.ValidationMessage("email")
                </td>
            </tr>
            <tr>
                <td colspan="2" class="submit-container">
                    <input type="submit" value="@Resources.Remember" />
                </td>
            </tr>
        </table>  
    }
</div>
