@{
    ViewBag.Title = AuthMessage.ResetPassword.NiceToString();
}
<script type="text/javascript">    $(function () { $("#email").focus(); }); </script>
<div class="sf-reset-password-container">
    <div class="col-sm-offset-4">
        <h2>@AuthMessage.ResetPassword.NiceToString()</h2>
        <p>@AuthMessage.ForgotYourPasswordEnterYourPasswordBelow.NiceToString()</p>
        <p>@AuthMessage.WeWillSendYouAnEmailWithALinkToResetYourPassword.NiceToString()</p>
        @Html.ValudationSummaryStatic()
    </div>
    @using (Html.BeginForm())
    {
        <br />
        <div class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-offset-2 col-sm-2 control-label">@AuthMessage.Email.NiceToString()</label>
                <div class="col-sm-4">
                    @Html.TextBox("email", null, new { @class = "form-control", placeholder = AuthMessage.Email.NiceToString() })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button type="submit" class="btn btn-default">@AuthMessage.SendEmail.NiceToString()</button>
                </div>
            </div>
        </div>
    }
</div>
