<script type="text/javascript">    $(function () { $("#@UserMapping.NewPasswordKey").focus(); }); </script>
<div class="col-sm-offset-4">
    <h2>@AuthMessage.NewPassword.NiceToString()</h2>
    <p>@AuthMessage.PleaseEnterYourChosenNewPassword.NiceToString()</p>
    @Html.ValudationSummaryStatic()
</div>

<div class="sf-reset-password-container">

    @using (Html.BeginForm())
    {
        @Html.Hidden("rpr", ViewData["rpr"].ToString())
        <div class="form-horizontal">
            <div class="form-group">
                <label for="@UserMapping.NewPasswordKey" class="col-sm-offset-2 col-sm-2 control-label">@AuthMessage.NewPassword.NiceToString()</label>
                <div class="col-sm-4">
                    @Html.Password(UserMapping.NewPasswordKey, null, new { @class = "form-control", placeholder = AuthMessage.NewPassword.NiceToString() })
                </div>
            </div>

            <div class="form-group">
                <label for="@UserMapping.NewPasswordBisKey" class="col-sm-offset-2 col-sm-2 control-label">@AuthMessage.ConfirmNewPassword.NiceToString()</label>
                <div class="col-sm-4">
                    @Html.Password(UserMapping.NewPasswordBisKey, null, new { @class = "form-control", placeholder = AuthMessage.ConfirmNewPassword.NiceToString() })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <input type="submit" value="@AuthMessage.ChangePassword.NiceToString()" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
