<script type="text/javascript">    $(function () { $("#@UserMapping.NewPasswordKey").focus(); }); </script>
<div class="sf-reset-password-container">
    <h2>@AuthMessage.NewPassword.NiceToString()</h2>
    <p>@AuthMessage.PleaseEnterYourChosenNewPassword.NiceToString()</p>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        @Html.Hidden("rpr", ViewData["rpr"].ToString())
        <div id="changePassword">
            <table>
                <tr>
                    <td class="label">
                        <label for="@UserMapping.NewPasswordKey">@AuthMessage.NewPassword.NiceToString()</label>:
                    </td>
                    <td>
                        @Html.Password(UserMapping.NewPasswordKey)
                        @Html.ValidationMessage(UserMapping.NewPasswordKey)
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="@UserMapping.NewPasswordBisKey">@AuthMessage.ConfirmNewPassword.NiceToString()</label>:
                    </td>
                    <td>
                        @Html.Password(UserMapping.NewPasswordBisKey)
                        @Html.ValidationMessage(UserMapping.NewPasswordBisKey)
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" value="@AuthMessage.ChangePassword.NiceToString()" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
