@{
    ViewBag.Title = AuthMessage.ResetPassword.NiceToString();
}
<script type="text/javascript">    $(function () { $("#email").focus(); }); </script>
<div class="sf-reset-password-container">
    <h2>@AuthMessage.ResetPassword.NiceToString()</h2>
    <p>@AuthMessage.ForgotYourPassword.NiceToString()</p>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
        {
        <div class="sf-reset-password-form">
            <label for="email">
                Email</label>:
            @Html.TextBox("email", "", new { size = 30 })
            @Html.ValidationMessage("email")
            <input class="sf-button" type="submit" />
        </div>
        }
</div>
