@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@using System.Reflection

@Html.ScriptCss("~/ControlPanel/Content/ControlPanel.css")


@using (var tc = Html.TypeContext<ControlPanelDN>())
{
    using (var sc = tc.SubContext())
    {
        sc.FormGroupStyle = FormGroupStyle.Basic;
    
    <div class="form-vertical">
        <div class="row">
            <div class="col-sm-6">
                @Html.ValueLine(sc, cp => cp.DisplayName)
            </div>
            <div class="col-sm-3">
                @Html.ValueLine(sc, cp => cp.HomePagePriority)
            </div>
             <div class="col-sm-3">
                @Html.ValueLine(sc, cp => cp.AutoRefreshPeriod)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.EntityLine(sc, cp => cp.Owner, el => el.Create = false)
            </div>
            <div class="col-sm-6">
                @Html.EntityLine(sc, cp => cp.EntityType, el => { el.AutocompleteUrl = Url.Action("TypeAutocomplete", "Finder"); })
            </div>
        </div>
    </div>
    
    }
    
    @Html.GridRepater(tc, cp => cp.Parts, grid =>
        {
            grid.PartialViewName = ControlPanelClient.AdminViewPrefix.Formato("PanelPartViewAdmin");
            grid.AttachFunction = ControlPanelClient.Module["attachGridControl"](grid,
               Url.Action("AddNewPart", "ControlPanel"),
               ControlPanelClient.PanelPartViews.Keys.Select(t => t.ToJsTypeInfo(isSearch: false, prefix: grid.Prefix)).ToArray());
        });
}


