@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@using System.Reflection

@Html.ScriptsJs("~/ControlPanel/Scripts/SF_FlowTable.js")
@Html.ScriptCss("~/ControlPanel/Content/SF_FlowTable.css",
                "~/ControlPanel/Content/SF_ControlPanel.css")

<div>
    @using (var tc = Html.TypeContext<ControlPanelDN>())
    {
        @Html.EntityLine(tc, cp => cp.Related, el => el.Create = false)
        @Html.ValueLine(tc, cp => cp.DisplayName)
        @Html.ValueLine(tc, cp => cp.HomePagePriority)
        @Html.ValueLine(tc, cp => cp.NumberOfColumns)
        
        @Html.EntityLine(tc, cp => cp.EntityType, el => { el.AutocompleteUrl = Url.Action("TypeAutocomplete", "Signum"); })

        Html.RenderPartial(ControlPanelClient.AdminViewPrefix.Formato("PanelParts"), tc.Value);
        <div class="clearall"></div>   
    }
</div>

<script type="text/javascript">
    $(function () {
        require(["@ControlPanelClient.FlowTableModule"], function (FlowTable) {
            FlowTable.init($("#sfCpAdminContainer"));
        }); 
    });
</script>