@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@using Signum.Entities.Reports

@using (var tc = Html.TypeContext<PanelPartDN>())
{
    @Html.HiddenRuntimeInfo(tc)
    var part = tc.Value;
    <div class="ui-widget ui-widget-content ui-corner-all sf-ftbl-part">
        <div class="ui-widget-header ui-corner-all sf-ftbl-part-header">
            <button class="sf-line-button sf-remove" data-icon="ui-icon-circle-close" data-text="false"></button>
            @Html.ValueLine(tc, pp => pp.Title, vl => vl.FormGroupStyle = FormGroupStyle.None)
        </div>
        <div>
            @Html.HiddenRuntimeInfo(tc, pp => pp.Content)
            @Html.EmbeddedControl(tc, pp => pp.Content, ecs => ecs.ViewName = ControlPanelClient.PanelPartViews[part.Content.GetType()].Admin)
        </div>
        <div>
            @Html.Hidden(tc.Compose("Row"), part.Row, new { @class = "sf-ftbl-part-row" })
            @Html.Hidden(tc.Compose("Column"), part.Column, new { @class = "sf-ftbl-part-col" })
        </div>
    </div>
}