@using Signum.Utilities.ExpressionTrees
@using Signum.Web.Profiler
@model List<HeavyProfilerEntry>
<h2>@ViewData[ViewDataKeys.Title]</h2>
<div>
    @Html.Partial(ProfilerClient.ViewPrefix.Formato("ProfilerButtons"))
    @Html.ActionLink("Slowest SQLs", (ProfilerController pc) => pc.Statistics(SqlProfileResumeOrder.Sum))
    
@using (Html.BeginForm((ProfilerController pc) => pc.UploadFile(), new { enctype = "multipart/form-data", encoding = "multipart/form-data" }))
{
    <input type="file" name="xmlFile" />
    <input type="submit" value="Upload" class="sf-button" />
}
</div>


@if (Model != null)
{
    <br />
    <h3>Entries</h3>
    <div class="sf-profiler-chart" data-detail-url="@Url.Action("HeavyRoute", "Profiler")">
    </div>
    <br />
}

@Html.ScriptCss("~/Profiler/Content/SF_Profiler.css")
@Html.ScriptsJs("~/scripts/d3.v2.min.js",
                "~/Profiler/Scripts/SF_Profiler.js")

<script language="javascript">
    $(function () {
        SF.Profiler.init(function () {
            $.ajax({
                url: "@Url.Action((ProfilerController p) => p.Heavy())",
                success: function (data) {
                    $("table.sf-profiler-table").replaceWith(data);
                }
            });
        });

        SF.Profiler.heavyListChart(@Html.Raw(Model.OrderBy(e => e.Start).HeavyDetailsToJson()));
    });
</script>
