@using Signum.Utilities.ExpressionTrees
@using Signum.Web.Profiler
@model List<HeavyProfilerEntry>
@{
    bool orderByTime = ViewBag.OrderByTime;
}
<h2>@ViewData[ViewDataKeys.Title]</h2>
<div>
    @Html.Partial(ProfilerClient.ViewPrefix.Formato("ProfilerButtons"))
       @Html.ActionLink(orderByTime ?  "Order by ID": "Order by Time", (ProfilerController pc) => pc.Heavy(!orderByTime))
    @Html.ActionLink("Slowest SQLs", (ProfilerController pc) => pc.Statistics(SqlProfileResumeOrder.Sum))
    @Html.ActionLink("Download", (ProfilerController pc) => pc.DownloadFile(null))
    @using (Html.BeginForm((ProfilerController pc) => pc.UploadFile(), new { enctype = "multipart/form-data", encoding = "multipart/form-data" }))
    {
        <input type="file" name="xmlFile" />
        <input type="submit" value="Upload" class="sf-button" />
    }
</div>


@if (Model != null)
{
    <br />
    <h3>Entries</h3>
    <div class="sf-profiler-chart" data-detail-url="@Url.Action("HeavyRoute", "Profiler")">
    </div>
    <br />
}

@Html.ScriptCss("~/Profiler/Content/Profiler.css")

<script language="javascript">

    $(function () {
         @(new JsFunction(ProfilerClient.Module, "heavyListChart", Model.HeavyDetailsToJson()));
    });
</script>
