@using Signum.Utilities.ExpressionTrees
@using Signum.Web.Profiler
@model HeavyProfilerEntry
<h2>Profiler Entry (
    @foreach (var e in Model.Follow(a => a.Parent).Skip(1).Reverse())
    {
        @Html.ProfilerEntry(e.Index.ToString(), e.FullIndex())@:.
    }
    @Model.Index.ToString())
</h2>
@Html.ActionLink("(View all)", (ProfilerController pc) => pc.Heavy(false))
@Html.ActionLink("Download", (ProfilerController pc) => pc.DownloadFile(Model.FullIndex()), new  { @class = "btn btn-default pull-right" })
<br />
<h3>Breakdown</h3>
<div class="sf-profiler-chart" data-detail-url="@Url.Action("HeavyRoute", "Profiler")">
</div>
<br />
<table class="table table-nonfluid">
    <tr>
        <th>Role
        </th>
        <td>
            @Model.Role
        </td>
    </tr>
    <tr>
        <th>Time
        </th>
        <td>
            @Model.ElapsedToString()
        </td>
    </tr>
</table>
<br />
<h3>Aditional Data</h3>
<div>
    <pre><code>@Model.AdditionalData</code></pre>
</div>
<br />
<h3>StackTrace</h3>
@if (Model.StackTrace == null)
{
    <span>No StackTrace</span>
}
else
{
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Type
                </th>
                <th>Method
                </th>
                <th>FileLine
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.StackTrace.FrameCount; i++)
            {
                var frame = Model.StackTrace.GetFrame(i);
                var type = frame.GetMethod().DeclaringType;
                <tr>
                    <td>
                        @if (type != null)
                        {
                            var color = ColorExtensions.ToHtmlColor(type.Assembly.FullName.GetHashCode());
                    
                            <span style="color:@color">@frame.GetMethod().DeclaringType.Try(t => t.TypeName())</span>
                        }
                    </td>
                    <td>
                        @frame.GetMethod().Name
                    </td>
                    <td>
                        @frame.GetFileName() (@frame.GetFileLineNumber())
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
@Html.ScriptCss("~/Profiler/Content/Profiler.css")
@{ 
    var fullTree = Model.Follow(e => e.Parent).ToList();
    fullTree.AddRange(Model.Descendants()); 
    
    int max = fullTree.Max(a=>a.Depth);
    while(fullTree.Count > ProfilerClient.MaxEntriesToDisplay && Model.Depth + 1 < max )
    {
        fullTree.RemoveAll(a=>a.Depth == max);
        max--;
    }
}
<script type="text/javascript">
    $(function() {
       @(ProfilerClient.Module["heavyDetailsChart"](fullTree.HeavyDetailsToJson(), Model.Depth));
    });
</script>
