@using Signum.Utilities.ExpressionTrees
@using Signum.Web.Profiler
<h2>@ViewData[ViewDataKeys.Title]</h2>
<div>
    @if (HeavyProfiler.Enabled)
    {
        @Html.ActionLink("Disable", "Disable")
    }
    else
    {
        @Html.ActionLink("Enable", "Enable")
    }
    @Html.ActionLink("Clean", "Clean")
    @Html.ActionLink("Slowest", "HeavySlowest")
</div>
@{ Html.RenderPartial("ProfilerTable", (object)Model);}
