@using Signum.Utilities.ExpressionTrees
@using Signum.Web.Profiler
<h2>@ViewData[ViewDataKeys.Title]</h2>
<div>
    @Html.Partial(ProfilerClient.ViewPrefix.Formato("ProfilerButtons"))
    @Html.ActionLink("Slowest SQLs", (ProfilerController pc) => pc.Statistics(SqlProfileResumeOrder.Sum))
</div>
@{ Html.RenderPartial(ProfilerClient.ViewPrefix.Formato("ProfilerTable"), (object)Model);}
@Html.ScriptsJs("~/Profiler/Scripts/SF_Profiler.js")
<script language="javascript">
    $(function () {
        SF.Profiler.init(function () {
            $.ajax({
                url: "@Url.Action((ProfilerController p) => p.Heavy())",
                success: function (data) {
                    $("table.sf-profiler-table").replaceWith(data);
                }
            });
        });
    });
</script>
