@using Signum.Web.Profiler;
<a href="@Url.Action((ProfilerController pc) => pc.Disable())" class="btn btn-default active" style="@(HeavyProfiler.Enabled ? "" : "display:none");color:red" id="sfProfileDisable">
Disable
</a>
<a href="@Url.Action((ProfilerController pc) => pc.Enable())" class="btn btn-default"  style="@(!HeavyProfiler.Enabled ? "" : "display:none")" id="sfProfileEnable">
Enable
</a>
<a href="@Url.Action((ProfilerController pc) => pc.Clean())" class="btn btn-default" id="sfProfileClear">
Clean
</a>