@using Signum.Utilities.ExpressionTrees
@using Signum.Web.Profiler

@{ List<HeavyProfilerEntry> entries = (List<HeavyProfilerEntry>)Model;
   var roles = entries.Select(a => a.GetDescendantRoles()).ToList();
   var allKeys = roles.SelectMany(a => a.Keys).Distinct().Order().ToList();
}
<table class="sf-search-results">
    <thead>
        <tr>
            <th>
                Entry
            </th>
            <th>
                Role
            </th>
            <th>
                Time
            </th>
            <th>
                Direct Childs
            </th>
            @foreach (var k in allKeys)
            {
                <th>
                    @k Total Time
                </th>
            }
             <th>
                Method
            </th>
            <th>
                Aditional Data
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < entries.Count; i++)
        {
            var entry = entries[i];
            var rol = roles[i];
            <tr>
                <td>
                    @Html.ProfilerEntry("View", entry.FullIndex())
                </td>
                <td>
                    @entry.Role
                </td>
                <td align="right">
                    @entry.Elapsed.NiceToString()
                </td>
                <td align="right">
                    @entry.GetEntriesResume().TryCC(r => r.ToString(entry))
                </td>
                @foreach (var k in allKeys)
                {
                    <td align="right">
                        @rol.TryGetC(k).TryCC(r => r.ToString(entry))
                    </td>
                }
                <td>
                    @(entry.Type.TypeName()).@entry.Method.Name
                </td>
                <td>
                    @entry.AditionalData.TryCC(o => o.ToString().TryLeft(50))
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
