@using Signum.Utilities.ExpressionTrees
@using Signum.Web.Profiler
@model IOrderedEnumerable<SqlProfileResume>
@{           
    SqlProfileResumeOrder order = ViewBag.Order;
}
<h2>@ViewData[ViewDataKeys.Title]</h2>
<div>
  @Html.Partial(ProfilerClient.ViewPrefix.FormatWith("ProfilerButtons"))
  @Html.ActionLink("Root Entries", "Heavy", new {@class = "sf-button" })
</div>

@Html.Partial(ProfilerClient.ViewPrefix.FormatWith("StatisticsTable"))
<script>
    $(function () {
        @(ProfilerClient.Module["initStats"]());
    });
</script>
