@using Signum.Utilities.ExpressionTrees
@using Signum.Engine.Processes
@using Signum.Web.Processes
@model ProcessLogicState
<div id="processMainDiv">
    <h2>@ViewData[ViewDataKeys.Title]</h2>
    <div>
        <a href="@Url.Action((ProcessController pc) => pc.Stop())" class="sf-button" style="@(Model.Running ? "" : "display:none");color:red" id="sfProcessDisable">
            Stop </a>
        <a href="@Url.Action((ProcessController pc) => pc.Start())" class="sf-button"  style="@(!Model.Running ? "" : "display:none")" id="sfProcessEnable">
                Start </a>
    </div>
    
    @Html.ScriptsJs("~/signum/scripts/SF_FindNavigator.js", 
                    "~/Processes/Scripts/SF_Process.js")
    @Html.RegisterSFUrls(Url)

    @Html.Partial(ProcessesClient.ViewPrefix.Formato("ProcessPanelTable"))
    <script language="javascript">
        $(function () {
            SF.Process.init(function () {
                $.get("@Url.Action((ProcessController p) => p.View())", function (data) {
                    $("div.processMainDiv").replaceWith(data);
                });
            });
        });
    </script>
</div>
