@using Signum.Utilities.ExpressionTrees
@using Signum.Engine.Processes
@using Signum.Web.Processes
@using Signum.Entities.DynamicQuery
@model ProcessLogicState
<div id="processMainDiv">
    <br />
    State: <strong>
        @if (Model.Running)
        {
            <span style="color: Green">RUNNING</span>
        }
        else
        {
            <span style="color: Red">STOPPED</span>
        }</strong>
        <br />
    JustMyProcesses: @Model.JustMyProcesses
    <br />
    MaxDegreeOfParallelism: @Model.MaxDegreeOfParallelism
    <br />
    InitialDelayMiliseconds: @Model.InitialDelayMiliseconds
    <br />
    NextPlannedExecution: @(Model.NextPlannedExecution.TryToString() ?? "-None-")
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Process
                </th>
                <th>State
                </th>
                <th>Progress
                </th>
                <th>MachineName
                </th>
                <th>ApplicationName
                </th>
                <th>IsCancellationRequested
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <b>@Model.Executing.Count processes executing in @Environment.MachineName ()</b>
                </td>
            </tr>
            @foreach (var item in Model.Executing)
            {
                <tr>
                    <td>@Html.LightEntityLine(item.Process, true)
                    </td>
                    <td>@item.State
                    </td>
                    <td>@item.Progress.TryToString("p")
                    </td>
                    <td>@item.MachineName
                    </td>
                    <td>@item.ApplicationName
                    </td>
                    <td>@item.IsCancellationRequested
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <br />
    <h2>Latest Processes</h2>

    @Html.SearchControl(new FindOptions(typeof(Signum.Entities.Processes.ProcessEntity))
{
    OrderOptions = { new OrderOption("CreationDate", Signum.Entities.DynamicQuery.OrderType.Descending) },
    ShowFilters = false,
    SearchOnLoad = true,
    Pagination = new Pagination.Firsts(10),
}, new Context(null, "sc"))
    <br />
</div>
