@using Signum.Entities.Files
@using Signum.Entities.Word
@using Signum.Web.Word
@using Signum.Web.Files
@using Signum.Entities.DynamicQuery
@using Signum.Engine.Basics
@using Signum.Engine.DynamicQuery

@using (var ec = Html.TypeContext<WordTemplateEntity>())
{
    ec.LabelColumns = new BsColumn(4);
    <div class="row">
        <div class="col-sm-8">
            @Html.ValueLine(ec, f => f.Name)
            @Html.EntityLine(ec, f => f.Query)
            @Html.EntityCombo(ec, f => f.SystemWordTemplate)
            @Html.EntityCombo(ec, f => f.Culture)
            @Html.EntityCombo(ec, f => f.WordTransformer)
            @Html.EntityCombo(ec, f => f.WordConverter)
            @Html.ValueLine(ec, f => f.FileName)
            @Html.ValueLine(ec, f => f.DisableAuthorization)
        </div>
    </div>

    if (ec.Value.Query != null)
    {
        var ctx = new Context(ec, "tokenBuilder");

        var qd = DynamicQueryManager.Current.QueryDescription(ec.Value.Query.ToQueryName());

        <div class="panel panel-default form-xs">
            <div class="panel-heading" style="padding:5px">
                <div class="sf-word-template-container">
                    @Html.QueryTokenBuilder(null, ctx, WordClient.GetQueryTokenBuilderSettings(qd, SubTokensOptions.CanAnyAll | SubTokensOptions.CanElement))
                    <input type="button" disabled="disabled" data-prefix="@ctx.Prefix" class="btn btn-default btn-sm sf-button sf-word-inserttoken sf-word-inserttoken-basic" value="@(Signum.Entities.Mailing.EmailTemplateViewMessage.Insert.NiceToString())" />
                    <input type="button" disabled="disabled" data-prefix="@ctx.Prefix" class="btn btn-default btn-sm sf-button sf-word-inserttoken sf-word-inserttoken-if" data-block="if" value="if" />
                    <input type="button" disabled="disabled" data-prefix="@ctx.Prefix" class="btn btn-default btn-sm sf-button sf-word-inserttoken sf-word-inserttoken-foreach" data-block="foreach" value="foreach" />
                    <input type="button" disabled="disabled" data-prefix="@ctx.Prefix" class="btn btn-default btn-sm sf-button sf-word-inserttoken sf-word-inserttoken-any" data-block="any" value="any" />
                </div>

                <script>
                    $(function () {
                        @(WordClient.Module["initReplacements"]())
                    });
                </script>
            </div>
        </div>
        <div class="col-sm-8">
            @Html.FileLineLite(ec, e => e.Template)
        </div>
    }
}

