@using System.Configuration
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel

@section head
{
    @Html.ScriptsJs(Navigator.Manager.DefaultScripts().ToArray())
    @Html.RegisterSFUrls(Url)
    @Html.ScriptCss("~/ControlPanel/Content/SF_FlowTable.css",
                    "~/ControlPanel/Content/SF_ControlPanel.css")

    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                window.location.href = window.location.href;
            }, @ControlPanelClient.RefreshMilliseconds);
        });
    </script>
}

@using (Html.BeginForm("DoPostBack", "Signum", "POST"))
{
    ControlPanelDN cp = (ControlPanelDN)Model;
    <h1>
        <a href="@Navigator.NavigateRoute(typeof(ControlPanelDN), cp.Id)">@cp.DisplayName</a>
    </h1>
    Html.RenderPartial(ControlPanelClient.ViewPrefix.Formato("PanelParts"), cp);
    <div class="clearall"></div>   
}
