@using System.Configuration
@using Signum.Web.Properties
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel

@section head
{
    @Html.ScriptsJs(
            "~/signum/Scripts/SF_Globals.js",
            "~/signum/Scripts/SF_Popup.js",   
            "~/signum/Scripts/SF_Lines.js",
            "~/signum/Scripts/SF_ViewNavigator.js",
            "~/signum/Scripts/SF_FindNavigator.js",
            "~/signum/Scripts/SF_Validator.js",   
            "~/signum/Scripts/SF_Operations.js")
}

@using(Html.BeginForm("DoPostBack","Signum","POST"))
{
    ControlPanelDN cp = (ControlPanelDN)Model;
    <h1>
        <a href="@Navigator.ViewRoute(typeof(ControlPanelDN), cp.Id)">@cp.DisplayName</a>
    </h1>
    if (cp.Parts != null)
    {
        int rowNumber = cp.Parts.Max(p => p.Row);
    <table>
        @for (int i = 0; i < rowNumber; i++)
           { 
                <tr>
                @for (int j = 0; j < cp.NumberOfColumns; j++)
    {
        PanelPart pp = cp.Parts.SingleOrDefault(p => p.Row == i + 1 && (p.Column == j + 1 || p.Fill));
                    <td style="vertical-align:top;padding-right:20px" @((pp != null && pp.Fill) ? ("colspan=" + cp.NumberOfColumns) : "")>
                        @if (pp != null)
        {
                            @PanelPartRenderer.Render(Html, pp)
        }
        </td>
        if (pp != null && pp.Fill)
                    {
            j = cp.NumberOfColumns;
    }
                }
                </tr>
    }
    </table>
    }
    <div class="clear">
    </div>   
 } 
