@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@using Signum.Entities.Reports

<script type="text/javascript">
    function toggleCol(cbFillId, colInputId) {
        if ($("#" + cbFillId + ":checked").length > 0)
            $('#' + colInputId).val(1).attr('disabled', 'disabled');
        else
            $('#' + colInputId).attr('disabled', '');
    }
</script>

@using (var tc = Html.TypeContext<PanelPart>())
{
    using (var sc = tc.SubContext())
    {
        sc.ValueFirst = true;
        
        <div class="sf-field">
            <div class="sf-value-container sf-value-inline">
                @Html.ValueLine(sc, pp => pp.Row, vl => vl.ValueHtmlProps["size"] = 2)
                @{ string colId = null; }
                @Html.ValueLine(sc, pp => pp.Column, vl => { vl.ValueHtmlProps["size"] = 2; colId = vl.ControlID; })
                @{ string fillId = null; }
                @Html.ValueLine(sc, pp => pp.Fill, vl => { vl.ValueHtmlProps["onclick"] = "toggleCol(this.id,'" + colId + "');"; fillId = vl.ControlID; })
        
            <script type="text/javascript">
                $(document).ready(function () { toggleCol('@fillId', '@colId'); });
            </script>
    
                @Html.ValueLine(sc, pp => pp.Title)
                @Html.EntityLine(sc, pp => pp.Content, el => el.Autocomplete = false)
            </div>
        </div>
        

        
    }
} 