@using System.Configuration
@using Signum.Entities.Dashboard
@using Signum.Web.Dashboard
@using Signum.Entities.UserAssets
@model DashboardEntity
@section head
{
    @Html.ScriptCss("~/Dashboard/Content/Dashboard.css")

}
@{
    var currentEntity = (Entity)ViewData["currentEntity"];
}

@if (currentEntity != null)
{
    <div style="float: right; text-align:right">
        <h3>
            @if (Navigator.IsNavigable(currentEntity, null))
            {
                <a class="sf-entity-title" href="@Navigator.NavigateRoute(currentEntity)">@currentEntity.ToString()</a>
            }
            else
            {
                <span class="sf-entity-title">@currentEntity.ToString()</span>
            }
            <br />
            <small class="sf-type-nice-name">@Navigator.Manager.GetTypeTitle(currentEntity)</small>
        </h3>
    </div>
}

@using (Html.BeginForm("DoPostBack", "Signum", "POST"))
{
    <h2>
        @if (Navigator.IsNavigable(Model, null, isSearch: true))
        { 
            <a href="@Navigator.NavigateRoute(typeof(DashboardEntity), Model.Id)">@Model.DisplayName</a>
        }
        else
        {
            @Model.DisplayName
        }
    </h2>
    
      

        Html.RenderPartial(DashboardClient.ViewPrefix.FormatWith("DashboardView"), Model);

        if (Model.AutoRefreshPeriod != null)
        {
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                window.location.href = window.location.href;
            }, @(Model.AutoRefreshPeriod.Value * 1000));
        });
    </script>
        }
}


