@using Signum.Web.ViewsChecker
@using Signum.Web.Extensions.Properties

@{
    ViewBag.Title = Resources.ViewsChecker;
    List<ViewError> errors = (List<ViewError>)Model;
}

<h1>@Resources.ViewsChecker</h1>

@if (errors == null || errors.Count == 0)
{
    <h2>No errors found</h2>
}
else
{
    <h2>There are a total of @errors.Count errors</h2>
    <div>
        <table border="solid 1px black" cellpadding="5px" cellspacing="1">
            <tr valign="top" style="font-weight: bold">
                <td>
                    @Resources.ViewName
                </td>
                <td>
                    @Resources.Message
                </td>
                <td>
                    @Resources.Source
                </td>
                <td>
                    @Resources.StackTrace
                </td>
                <td>
                    @Resources.TargetSite
                </td>
            </tr>
            @foreach (ViewError error in errors)
            {
                <tr valign="top">
                    <td>@error.ViewName
                    </td>
                    <td>@error.Message
                    </td>
                    <td>@error.Source
                    </td>
                    <td>@error.StackTrace
                    </td>
                    <td>@error.TargetSite
                    </td>
                </tr>
            }
        </table>
    </div>
} } 