@using Signum.Entities.Dashboard
@using Signum.Web.Dashboard

@using (var tc = Html.TypeContext<PanelPartEntity>())
{
    var part = tc.Value;
    var offset = part.StartColumn - (int)ViewData[GridRepeaterHelper.LastEnd];
    
    <div id="@tc.Compose(EntityRepeaterKeys.RepeaterElement)" class="sf-grid-element col-sm-@part.Columns @(offset == 0 ? null : "col-sm-offset-" + offset)">
        <div class="panel panel-@part.Style.ToString().ToLower()">
            <div class="panel-heading form-inline" draggable="true">
                <a id="@tc.Compose("btnRemove")" class="sf-line-button sf-remove pull-right" 
                    title="@EntityControlMessage.Remove.NiceToString()">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                @Html.ValueLine(tc, pp => pp.Title, vl => { vl.FormGroupStyle = FormGroupStyle.None; vl.ValueHtmlProps["placeholder"] = Html.PropertyNiceName(() => tc.Value.Title); })
                @Html.ValueLine(tc, pp => pp.Style, vl => { vl.FormGroupStyle = FormGroupStyle.None; })

                @Html.HiddenRuntimeInfo(tc)
                @*    @Html.ValueLine(tc, t => t.Row)
                @Html.ValueLine(tc, t => t.Columns)
                @Html.ValueLine(tc, t => t.StartColumn)*@
                @Html.Hidden(tc.Compose("Row"), part.Row)
                @Html.Hidden(tc.Compose("Columns"), part.Columns)
                @Html.Hidden(tc.Compose("StartColumn"), part.StartColumn)
            </div>
            <div class="panel-body">
                @Html.HiddenRuntimeInfo(tc, pp => pp.Content)
                @Html.EmbeddedControl(tc, pp => pp.Content, ecs => ecs.ViewName = DashboardClient.PanelPartViews[part.Content.GetType()].AdminView)
            </div>
            <div class="sf-leftHandle" draggable="true"></div>
            <div class="sf-rightHandle" draggable="true"></div>
        </div>
    </div>
}