@using Signum.Web.Auth
@using Signum.Web.ScriptCombiner
@using Signum.Web.Extensions.Sample

<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
    @Html.ScriptCss("~/content/reset.css",
        "~/signum/content/SF_Lines.css",
        "~/signum/content/SF_NormalPage.css",
        "~/signum/content/SF_Notify.css",
        "~/signum/content/SF_Search.css",    
        "~/content/smoothness/jquery-ui-1.8.7.custom.css",
        "~/content/site.css"
        )    
    
    @Html.ScriptsJs("~/scripts/jquery-1.4.4.min.js", "~/scripts/jquery-ui-1.8.7.custom.min.js")    

    @Html.ScriptsJs("~/signum/resources/" + System.Globalization.CultureInfo.CurrentCulture.Name + ".js")
    @Html.ScriptsJs("~/signum/calendarResources/" + System.Globalization.CultureInfo.CurrentCulture.Name + ".js")
    
    @Html.ScriptsJs("~/signum/scripts/SF_Utils.js", "~/signum/scripts/SF_jquery-ui-datepicker-extension.js")    

    @if (IsSectionDefined("head")) {
        @RenderSection("head")
    }
</head>

<body> 
    <div id="wrap">
        <header>
            <div id="user-info">
                @{ Html.RenderPartial(AuthClient.LoginUserControlUrl);}
            </div>    
                
            <div id="title">
                <h1>@(Html.ActionLink<HomeController>( "Signum Extensions Sample", c=>c.Index()))</h1>
            </div>
        </header>

        <div id="main">
            @{ //Sólo mostrar menú si está identificado
                bool identificado = Signum.Entities.Authorization.UserDN.Current != null;}
                @if (identificado)
                {
                    ViewDataDictionary vdd = new ViewDataDictionary() {
                        {ViewDataKeys.PartialViewName, ViewData[ViewDataKeys.PartialViewName]}
                       };
                        <div id="widgets">
                        @{Html.RenderPartial("WidgetView", vdd);}
                        </div>
                }

        
            <div id="menu">
                @if (identificado) {
                <div class="box menu">
                    <h2>Menú</h2>
                    @{ Html.RenderPartial("Menu", ViewData["current"] = Context.Request.RawUrl);}

                </div>
                }
            </div>
            <div id="content">
                @RenderBody()
            </div>
            <div class="clear"></div>
      </div>
      <footer>
            <div class="grid_8">
                <span id="powered">Powered by <span class="company">Signum Framework</span></span>
            </div>
            <div class="grid_8">            
                <ul>
                   <li><a href="Help">Documentación de ayuda</a></li>
                   <li><a href="mailto:soporte@signumsoftware.com">Soporte</a></li>
                </ul>
            </div>
        </footer>
    </div>        
</body>
</html>
