@using Signum.Web.Auth
@using Signum.Web.Combine
@using Signum.Entities.Authorization
@using Signum.Engine.Authorization
@using Signum.Web.Extensions.Sample

<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @Html.ScriptCss(
        "~/signum/content/reset.css",
        "~/content/smoothness/jquery-ui-1.8.14.css",
        "~/signum/content/SF_Lines.css",
        "~/signum/content/SF_NormalPage.css",
        "~/signum/content/SF_Notify.css",
        "~/signum/content/SF_Search.css",    
        "~/signum/content/SF_Widgets.css",
        "~/content/site.css"
        )    
    
    @Html.ScriptsJs("~/scripts/jquery-1.7.1.min.js", "~/scripts/jquery-ui-1.8.18.custom.min.js")    

    @Html.ScriptsJs("~/signum/resources/" + System.Globalization.CultureInfo.CurrentCulture.Name + ".js")
    @Html.ScriptsJs("~/signum/calendarResources/" + System.Globalization.CultureInfo.CurrentCulture.Name + ".js")
    
    @Html.ScriptsJs("~/signum/scripts/SF_Utils.js", "~/signum/scripts/SF_jquery-ui-datepicker-extension.js", "~/scripts/newcontent.js")    

    @if (IsSectionDefined("head")) {
        @RenderSection("head")
    }
</head>

<body> 
    <div id="wrap">
        <header>
            <div id="user-info">
                @{ Html.RenderPartial(AuthClient.LoginUserControlView);}
            </div>    
                
            <div id="title">
                <h1>@(Html.ActionLink<HomeController>( "Signum Extensions Sample", c=>c.Index()))</h1>
            </div>
        </header>

        <div id="main">
            <div id="menu">
                @if (UserDN.Current != null && !UserDN.Current.Is(AuthLogic.AnonymousUser))
                {
                <div class="box menu">
                    <h2>Menú</h2>
                    @{ Html.RenderPartial("Menu", ViewData["current"] = Context.Request.RawUrl);}

                </div>
                }
            </div>
            <div id="content">
                @RenderBody()
            </div>
            <div class="clear"></div>
      </div>
      <footer>
            <div class="grid_8">
                <span id="powered">Powered by <span class="company">Signum Framework</span></span>
            </div>
            <div class="grid_8">            
                <ul>
                   <li><a href="Help">Documentación de ayuda</a></li>
                   <li><a href="mailto:soporte@signumsoftware.com">Soporte</a></li>
                </ul>
            </div>
        </footer>
    </div>        
</body>
</html>
