@using Signum.Engine
@using Signum.Entities.SMS;
@using Signum.Web;
@using Signum.Web.SMS;

@using (var e = Html.TypeContext<SMSMessageDN>())
{
    @Html.ValueLine(e, s => s.DestinationNumber, vl => vl.ReadOnly = true)
    @Html.ValueLine(e, s => s.Message, vl => 
    {
        vl.ValueLineType = ValueLineType.TextArea;
        vl.ValueHtmlProps["cols"] = "30";
    })
    
    <div id="charactersleft" data-url="@(Url.Action<SMSController>(s => s.GetDictionaries()))" style="margin-left: 100px;">
        <p>Te quedan <span id="numerocaracteres"></span></p>
    </div>
    
    
    
    
    @Html.ValueLine(e, s => s.From)
    
    if (!e.Value.IsNew)
    {
        <fieldset>
            <legend>SMS Status</legend>


        </fieldset>
    }
}

@Html.ScriptsJs("~/SMS/scripts/SF_SMS.js")