@using Signum.Engine
@using Signum.Entities.SMS
@using Signum.Entities
@using Signum.Web
@using Signum.Web.SMS
@using Signum.Engine.SMS
@using Signum.Utilities
@using Signum.Web.Mailing

@Html.ScriptCss("~/SMS/Content/SMS.css")

@using (var tc = Html.TypeContext<SMSTemplateEntity>())
{   
    @Html.ValueLine(tc, s => s.Name)
    
    using (var tc2 = tc.SubContext().Do(sc => sc.LabelColumns = new BsColumn(4)))
    {
        tc2.LabelColumns = new BsColumn(3);
    <div class="row">
        <div class="col-sm-8">
            @Html.ValueLine(tc2, s => s.Active)
            @Html.ValueLine(tc2, s => s.StartDate)
            @Html.ValueLine(tc2, s => s.EndDate)
        </div>
        @{tc2.LabelColumns = new BsColumn(8);}
        <div class="col-sm-4">
            @Html.ValueLine(tc2, s => s.Certified)
            @Html.ValueLine(tc2, s => s.EditableMessage)
            @Html.ValueLine(tc2, s => s.RemoveNoSMSCharacters)
        </div>
    </div>
    }
    
    @Html.ValueLine(tc, s => s.From) 
    @Html.ValueLine(tc, s => s.MessageLengthExceeded)
    
    <div class="row">
        <div class="col-sm-7">
            @Html.EntityTabRepeater(tc, e => e.Messages, er =>
            {
                er.PreserveViewData = true;
            })
        </div>
        <div class="col-sm-5">
            <fieldset>
                <legend>@SmsMessage.Replacements.NiceToString()</legend>

                @Html.EntityCombo(tc, s => s.AssociatedType, ec =>
        {
            ec.LabelColumns = new BsColumn(5);
            ec.Data = SMSLogic.RegisteredDataObjectProviders();
            ec.ComboHtmlProperties["class"] = "sf-associated-type";
            ec.AttachFunction = SMSClient.Module["attachAssociatedType"](ec, Url.Action<SMSController>(s => s.GetLiteralsForType()));
        })

                @(new HtmlTag("select").Attr("multiple", "multiple").Id("sfLiterals").Class("form-control").ToHtml())
                <input type="button" class="btn sf-button" id="sfInsertLiteral" value="@SmsMessage.Insert.NiceToString()" />

            </fieldset>
        </div>
    </div>
    <script>
        @(SMSClient.Module["init"](Url.Action<SMSController>(s => s.RemoveNoSMSCharacters("")),
    Url.Action<SMSController>(s => s.GetDictionaries())))
    </script>
}
