@using Signum.Engine
@using Signum.Entities.SMS;
@using Signum.Web;
@using Signum.Web.SMS;

@Html.ScriptCss("~/SMS/Content/SMS.css")

@using (var e = Html.TypeContext<SMSTemplateDN>())
{   
    @Html.ValueLine(e, s => s.Name)
    @Html.ValueLine(e, s => s.Active, vl => vl.ReadOnly = true)
    @Html.ValueLine(e, s => s.Message, vl =>
        {
            vl.ValueLineType = ValueLineType.TextArea;
            vl.ValueHtmlProps["cols"] = "30";
            vl.ValueHtmlProps["rows"] = "6";
        })
    
    <div id="charactersleft" data-url="@(Url.Action<SMSController>(s => s.GetDictionaries()))" style="margin-left: 150px;">
        <p>Quedan disponibles <span id="numberofchar"></span> carácteres</p>
    </div>
    
    
    @Html.ValueLine(e, s => s.From)
    @Html.ValueLine(e, s => s.StartDate)
    @Html.ValueLine(e, s => s.EndDate)
   
}

@Html.ScriptsJs("~/SMS/scripts/SF_SMS.js")