@using Signum.Web.Extensions
@using Signum.Web.Help
@using Signum.Entities.Help
@using Signum.Engine.Help
@model Dictionary<string, List<Type>>
@{  
    ViewBag.Title = HelpMessage.Help.NiceToString();
    Dictionary<string, AppendixHelp> appendices = HelpLogic.GetOrCreateAppendicesHelp();
}

@section head
{
    @Html.ScriptCss("~/help/Content/help.css")
}
<div id="entityContent">
    <h1 class="centered">@HelpMessage.Help.NiceToString()</h1>

    <ol class="responsive-columns">
        @foreach (var ns in Model)
        {
            var nh = HelpLogic.GetNamespaceHelp(ns.Key);
            
            <li>
                <h3>
                    <a href="@Url.Action((HelpController c) => c.ViewNamespace(ns.Key))">@(nh.Title)</a>
                    @if (nh.Before != null)
                    {
                        <small>@HelpMessage.In0.NiceToString(nh.Before)</small>
                    }
                </h3>
                <ul>
                    @foreach (var t in ns.Value)
                    {
                        <li><a href="@HelpUrls.EntityUrl(t)">@t.NiceName()</a> </li>
                    }
                </ul>
            </li>
        }
    </ol>
</div>

<h2 class="centered">@HelpMessage.Appendices.NiceToString() <a href="@Url.Action((HelpController c) => c.NewAppendix())">+</a></h2>
<ol class="responsive-columns">
    @foreach (var a in appendices.Values)
    {
        <li>
            @Html.ActionLink(a.Title, (HelpController c) => c.ViewAppendix(a.UniqueName))
        </li>
    }
</ol>
