@using Signum.Web.Help
@using Signum.Web.Extensions
@using Signum.Engine.Help

@section head
{
    @Html.ScriptCss("~/help/Content/help.css")
}

@{ 
    Html.RenderPartial(HelpClient.Menu);
    NamespaceHelp nh = (NamespaceHelp)Model;
    ViewBag.Title = nh.Name;
}

@using (var f = Html.BeginForm("SaveNamespace", "Help", new { @namespace = nh.Name }, FormMethod.Post, new { id = "form-save" }))
{
    <div class="help_left" id="entityName">
        <h1>@nh.Name</h1>
        @Html.TextArea("description", nh.Description, 5, 80, new { @class = "editable" })
        <span class="editor" id="description-editor">
            @Html.WikiParse(nh.Description, HelpClient.DefaultWikiSettings)
        </span>
    </div>
    <div class="help_right">
        <div class="sidebar">
            <h3>
                Temas relacionados</h3>
            <ul>
                @{ List<Type> types = (List<Type>)ViewData["nameSpace"];}
                @foreach (Type t in types)
                {
                    <li><a href="@HelpLogic.EntityUrl(t)">@t.NiceName()</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="clearall">
    </div>
} 