@using Signum.Web.Help
@using Signum.Web.Extensions
@using Signum.Engine.Help
@using Signum.Entities.Help
@using Signum.Engine
@using Signum.Engine.Basics

@section head
{
    @Html.ScriptCss("~/help/Content/help.css")
}

@{ 
    AppendixHelp ah = (AppendixHelp)Model;
    ViewBag.Title = ah.Title;
}





<div class="row">
    <div class="col-md-9" id="entityName">
        @using (TypeContext<AppendixHelpEntity> ac = new TypeContext<AppendixHelpEntity>(ah.Entity, null))
        {
            using (Html.BeginForm((HelpController hc) => hc.SaveAppendix(), new { id = "form-save" }))
            {
            @Html.HiddenRuntimeInfo(ac)
            @Html.HiddenRuntimeInfo(ac, e => e.Culture)

            if(!Navigator.IsReadOnly(typeof(AppendixHelpEntity)))
            {
                   Html.RenderPartial(HelpClient.Buttons, new ViewDataDictionary
                    {
                        { "options",  Database.Query<AppendixHelpEntity>()
                        .Where(e => e.UniqueName == ac.Value.UniqueName && e.Culture != ac.Value.Culture)
                        .Select(e => new { e.Culture })
                        .ToList()
                        .Select(e => KVP.Create(e.Culture.ToCultureInfo(), this.Url.Action((HelpController a) => a.TraslateAppendix(e.Culture.Name))))
                        .ToDictionary() }                   
                    });
            }
                if (ac.Value.UniqueName == null)
                {
                    <br />
            @Html.ValueLine(ac, e => e.UniqueName)
            <br />
            <script>
                @HelpClient.Module["edit"]()
            </script>
                }
                else
                {
            @Html.HiddenLine(ac, e => e.UniqueName)
                }
            <h1>
                @Html.TextArea(ac.SubContextPrefix(a => a.Title), ah.Title, 1, 80, new { @class = "editable" })
                <span class="wiki">
                    @Model.Title
                </span>
            </h1>
                if (ac.Value.UniqueName != null)
                {
            <code class="shortcut">[a:@ah.UniqueName]</code>
                }
            @Html.TextArea(ac.SubContextPrefix(a => a.Description), ah.Description, 5, 80, new { @class = "editable" })
            <span class="wiki">
                @Html.WikiParse(ah.Description, HelpWiki.DefaultWikiSettings)
            </span>
            }
        }
    </div>
    <div class="col-md-3">
        @{ Html.RenderPartial(HelpClient.MiniMenu, new ViewDataDictionary { { "appendix", ah.UniqueName } });}
    </div>
</div>
