@using Signum.Web.Help
@using Signum.Web.Extensions
@using Signum.Engine.Help

@section head
{
    @Html.ScriptCss("~/help/Content/help.css")
}

@{ Html.RenderPartial(HelpClient.Menu);}

@{ 
    AppendixHelp ah = (AppendixHelp)Model;
    ViewBag.Title = ah.Title;
}

@using (var f = Html.BeginForm("SaveAppendix", "Help", new { appendix = ah.Name }, FormMethod.Post, new { id = "form-save" }))
{
    <div id="entityName">
        <h1>@ah.Title</h1>
        @Html.TextArea("description", ah.Description, 5, 80, new { @class = "editable" })
        <span class="editor" id="description-editor">@Html.WikiParse(ah.Description, HelpClient.DefaultWikiSettings)</span>
    </div>
    <div class="clearall">
    </div>
    var nextAppendix = (AppendixHelp)ViewData["nextAppendix"];
    if (nextAppendix != null)
    {        
        <div id="nextAppendix">@Html.ActionLink(nextAppendix.Title + " >>", "ViewAppendix", new { appendix = nextAppendix.Name })</div>
    }
    var prevAppendix = (AppendixHelp)ViewData["previousAppendix"];
    if (prevAppendix != null)
    { 
        <div id="prevAppendix">@Html.ActionLink("<< " + prevAppendix.Title, "ViewAppendix", new { appendix = prevAppendix.Name })</div>
    }
    <div class="clearall">
    </div>
} 