@Html.ScriptCss("~/authAdmin/Content/SF_AuthAdmin.css")
@Html.ScriptsJs("~/authAdmin/Scripts/SF_AuthAdmin.js")
<script type="text/javascript">
    $(function () {
        SF.Auth.coloredRadios($(document));
    });
</script>
@using (var tc = Html.TypeContext<FacadeMethodRulePack>())
{
    @Html.EntityLine(tc, f => f.Role)
    @Html.ValueLine(tc, f => f.DefaultRule, vl => { vl.UnitText = tc.Value.DefaultLabel; })

    <table class="sf-auth-rules">
        <thead>
            <tr>
                <th>
                    @AuthMessage.FacadeMethodsAscx_FacadeMethod.NiceToString()
                </th>
                <th>
                    @AuthMessage.FacadeMethodsAscx_Allow.NiceToString()
                </th>
                <th>
                    @AuthMessage.FacadeMethodsAscx_Deny.NiceToString()
                </th>
                <th>
                    @AuthMessage.FacadeMethodsAscx_Overriden.NiceToString()
                </th>
            </tr>
        </thead>
        @foreach (var item in tc.TypeElementContext(p => p.Rules))
        {
            <tr>
                <td>
                    @Html.Span(null, item.Value.Resource.ToString())
                    @Html.Hidden(item.Compose("Resource_Key"), item.Value.Resource.ToString())
                    @Html.Hidden(item.Compose("AllowedBase"), item.Value.AllowedBase)
                </td>
                <td>
                    <a class="sf-auth-chooser sf-auth-allowed">
                        @Html.RadioButton(item.Compose("Allowed"), "True", item.Value.Allowed)
                    </a>
                </td>
                <td>
                    <a class="sf-auth-chooser sf-auth-not-allowed">
                        @Html.RadioButton(item.Compose("Allowed"), "False", !item.Value.Allowed)
                    </a>
                </td>
                <td>
                    @Html.CheckBox(item.Compose("Overriden"), item.Value.Overriden, new { disabled = "disabled", @class = "sf-auth-overriden" })
                </td>
            </tr>
        }
    </table>
} 