@Html.ScriptCss("~/authAdmin/Content/AuthAdmin.css")
@using Signum.Engine.Basics
@using (var tc = Html.TypeContext<OperationRulePack>())
{
    <div class="form-compact">
        @Html.EntityLine(tc, f => f.Role)
        @Html.ValueLine(tc, f => f.Strategy)
        @Html.EntityLine(tc, f => f.Type)
    </div>
    <table class="sf-auth-rules" id="operations">
        <thead>
            <tr>
                <th>
                    @typeof(OperationSymbol).NiceName()
                </th>
                <th>
                    @OperationAllowed.Allow.NiceToString()
                </th>
                <th>
                    @OperationAllowed.DBOnly.NiceToString()
                </th>
                <th>
                    @OperationAllowed.None.NiceToString()
                </th>
                <th>
                    @AuthAdminMessage.Overriden.NiceToString()
                </th>
            </tr>
        </thead>
        @foreach (var item in tc.TypeElementContext(p => p.Rules))
        {
            <tr>
                <td>
                    @Html.Span(null, item.Value.Resource.Operation.NiceToString())
                    @Html.HiddenRuntimeInfo(item, i => i.Resource)
                    @Html.Hidden(item.Compose("AllowedBase"), item.Value.AllowedBase)
                </td>
                <td>
                    @if (!item.Value.CoercedValues.Contains(OperationAllowed.Allow))
                    {
                        <a class="sf-auth-chooser sf-auth-modify">
                            @Html.RadioButton(item.Compose("Allowed"), "Allow", item.Value.Allowed == OperationAllowed.Allow)
                        </a>
                    }
                </td>
                <td>
                    @if (!item.Value.CoercedValues.Contains(OperationAllowed.DBOnly))
                    {
                        <a class="sf-auth-chooser sf-auth-read">
                            @Html.RadioButton(item.Compose("Allowed"), "DBOnly", item.Value.Allowed == OperationAllowed.DBOnly)
                        </a>
                    }
                </td>
                <td>
                    @if (!item.Value.CoercedValues.Contains(OperationAllowed.None))
                    {
                        <a class="sf-auth-chooser sf-auth-none">
                            @Html.RadioButton(item.Compose("Allowed"), "None", item.Value.Allowed == OperationAllowed.None)
                        </a>
                    }
                </td>
                <td>
                    @Html.CheckBox(item.Compose("Overriden"), item.Value.Overriden, new { disabled = "disabled", @class = "sf-auth-overriden" })
                </td>
            </tr>
        }
    </table>
} 