@Html.DynamicCss("~/authAdmin/Content/SF_AuthAdmin.css")
@using (var tc = Html.TypeContext<OperationRulePack>())
{
    @Html.EntityLine(tc, f => f.Role)
    @Html.ValueLine(tc, f => f.DefaultRule, vl => { vl.UnitText = tc.Value.DefaultLabel; })
    @Html.EntityLine(tc, f => f.Type)

    <table class="sf-auth-rules" id="operations">
        <thead>
            <tr>
                <th>
                    @Resources.OperationsAscx_Operation
                </th>
                <th>
                    @Resources.OperationsAscx_Allow
                </th> 
                <th>
                    @Resources.OperationsAscx_DBOnly
                </th>
                <th>
                    @Resources.OperationsAscx_None
                </th>
                <th>
                    @Resources.OperationsAscx_Overriden
                </th>
            </tr>
        </thead>
        @foreach (var item in tc.TypeElementContext(p => p.Rules))
        {
            <tr>
                <td>
                    @Html.Span(null, item.Value.Resource.Name)
                    @Html.HiddenRuntimeInfo(item, i => i.Resource)
                    @Html.Hidden(item.Compose("AllowedBase"), item.Value.AllowedBase)
                </td>
                 <td>
                    <a class="sf-auth-chooser sf-auth-modify">
                        @Html.RadioButton(item.Compose("Allowed"), "Allow", item.Value.Allowed == OperationAllowed.Allow)
                    </a>
                </td>
                <td>
                    <a class="sf-auth-chooser sf-auth-read">
                        @Html.RadioButton(item.Compose("Allowed"), "DBOnly", item.Value.Allowed == OperationAllowed.DBOnly)
                    </a>
                </td>
                <td>
                    <a class="sf-auth-chooser sf-auth-none">
                        @Html.RadioButton(item.Compose("Allowed"), "None", item.Value.Allowed == OperationAllowed.None)
                    </a>
                </td>
                <td>
                    @Html.CheckBox(item.Compose("Overriden"), item.Value.Overriden, new { disabled = "disabled", @class = "sf-auth-overriden" })
                </td>
            </tr>
        }
    </table>
} 