@Html.ScriptCss("~/authAdmin/Content/SF_AuthAdmin.css")
@using (var tc = Html.TypeContext<PropertyRulePack>())
{
    @Html.EntityLine(tc, f => f.Role)
    @Html.ValueLine(tc, f => f.DefaultRule, vl => { vl.UnitText = tc.Value.DefaultLabel; })
    @Html.EntityLine(tc, f => f.Type)

    <table class="sf-auth-rules" id="properties">
        <thead>
            <tr>
                <th>
                    @AuthMessage.PropertiesAscx_Property.NiceToString()
                </th>
                <th>
                    @AuthMessage.PropertiesAscx_Modify.NiceToString()
                </th>
                <th>
                    @AuthMessage.PropertiesAscx_Read.NiceToString()
                </th>
                <th>
                    @AuthMessage.PropertiesAscx_None.NiceToString()
                </th>
                <th>
                    @AuthMessage.PropertiesAscx_Overriden.NiceToString()
                </th>
            </tr>
        </thead>
        @foreach (var item in tc.TypeElementContext(p => p.Rules))
        {
            <tr>
                <td>
                    @Html.Span(null, item.Value.Resource.Path)
                    @Html.Hidden(item.Compose("Resource_Path"), item.Value.Resource.Path)
                    @Html.Hidden(item.Compose("AllowedBase"), item.Value.AllowedBase)
                </td>
                <td>
                    <a class="sf-auth-chooser sf-auth-modify">
                        @Html.RadioButton(item.Compose("Allowed"), "Modify", item.Value.Allowed == PropertyAllowed.Modify)
                    </a>
                </td>
                <td>
                    <a class="sf-auth-chooser sf-auth-read">
                        @Html.RadioButton(item.Compose("Allowed"), "Read", item.Value.Allowed == PropertyAllowed.Read)
                    </a>
                </td>
                <td>
                    <a class="sf-auth-chooser sf-auth-none">
                        @Html.RadioButton(item.Compose("Allowed"), "None", item.Value.Allowed == PropertyAllowed.None)
                    </a>
                </td>
                <td>
                    @Html.CheckBox(item.Compose("Overriden"), item.Value.Overriden, new { disabled = "disabled", @class = "sf-auth-overriden" })
                </td>
            </tr>
        }
    </table>
} 