@Html.ScriptCss("~/authAdmin/Content/AuthAdmin.css")
@using Signum.Engine.Authorization
@using (var tc = Html.TypeContext<PropertyRulePack>())
{
    <div class="form-compact">
        @Html.EntityLine(tc, f => f.Role)
        @Html.ValueLine(tc, f => f.Strategy)
        @Html.EntityLine(tc, f => f.Type)
    </div>
    <table class="sf-auth-rules" id="properties">
        <thead>
            <tr>
                <th>
                    @typeof(Signum.Entities.Basics.PropertyRouteEntity).NiceName()
                </th>
                <th>
                    @PropertyAllowed.Modify.NiceToString()
                </th>
                <th>
                    @PropertyAllowed.Read.NiceToString()
                </th>
                <th>
                    @PropertyAllowed.None.NiceToString()
                </th>
                <th>
                    @AuthAdminMessage.Overriden.NiceToString()
                </th>
            </tr>
        </thead>
        @foreach (var item in tc.TypeElementContext(p => p.Rules))
        {
            <tr>
                <td>
                    @Html.Span(null, item.Value.Resource.Path)
                    @Html.Hidden(item.Compose("Resource_Path"), item.Value.Resource.Path)
                    @Html.Hidden(item.Compose("AllowedBase"), item.Value.AllowedBase)
                </td>
                <td>
                    @if (!item.Value.CoercedValues.Contains(PropertyAllowed.Modify))
                    {
                        <a class="sf-auth-chooser sf-auth-modify">
                            @Html.RadioButton(item.Compose("Allowed"), "Modify", item.Value.Allowed == PropertyAllowed.Modify)
                        </a>
                    }
                </td>
                <td>
                    @if (!item.Value.CoercedValues.Contains(PropertyAllowed.Read))
                    {
                        <a class="sf-auth-chooser sf-auth-read">
                            @Html.RadioButton(item.Compose("Allowed"), "Read", item.Value.Allowed == PropertyAllowed.Read)
                        </a>
                    }
                </td>
                <td>
                    @if (!item.Value.CoercedValues.Contains(PropertyAllowed.None))
                    {
                        <a class="sf-auth-chooser sf-auth-none">
                            @Html.RadioButton(item.Compose("Allowed"), "None", item.Value.Allowed == PropertyAllowed.None)
                        </a>
                    }
                </td>
                <td>
                    @Html.CheckBox(item.Compose("Overriden"), item.Value.Overriden, new { disabled = "disabled", @class = "sf-auth-overriden" })
                </td>
            </tr>
        }
    </table>
} 