@using Signum.Web
@using Signum.Entities.DynamicQuery
@using Signum.Engine.DynamicQuery
@using System.Configuration
@using Signum.Entities.Reflection
@using Signum.Entities
@using Signum.Entities.Chart
@using Signum.Web.Chart
@using Signum.Utilities
@using Signum.Engine
@Html.ScriptCss("~/Chart/Content/SF_Chart.css")

@using (var cpt = Html.TypeContext<ChartPaletteModel>())
{
    @Html.HiddenRuntimeInfo(cpt, cp => cp.Type)
    <table class="sf-search-results sf-chart-color-table">
        <thead>
            <tr>
                <th class="ui-state-default">
                    Color
                </th>
                <th class="ui-state-default">
                    Hex
                </th>
                <th class="ui-state-default">
                    Id
                </th>
                <th class="ui-state-default">
                    Text
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (TypeContext<ChartColorDN> clc in cpt.TypeElementContext(cp => cp.Colors))
            {  
                <tr>
                    <td>
                        <div class="sf-chart-color-box">
                        </div>
                    </td>
                    <td>
                        #@Html.TextBox(clc.Compose("Color_Rgb"), clc.Value.Color.TryCC(c => c.ToColor().ToHtml().Substring(1)), new { maxlength = 6, size = 6, @class = "sf-chart-color-input" })
                        @Html.HiddenRuntimeInfo(clc, cl => cl.Related)
                    </td>
                    <td>
                        @clc.Value.Related.Id
                    </td>
                    <td>
                        @clc.Value.Related.ToString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
