@using Signum.Web
@using Signum.Web.Extensions.Properties
@using Signum.Entities.DynamicQuery
@using Signum.Engine.DynamicQuery
@using System.Configuration
@using Signum.Entities.Reflection
@using Signum.Entities
@using Signum.Entities.Chart
@using Signum.Web.Chart
@model TypeContext<ChartRequest>

@Html.ScriptCss("~/Chart/Content/SF_Chart.css")

@{ 
    QueryDescription queryDescription = (QueryDescription)ViewData[ViewDataKeys.QueryDescription];
    List<FilterOption> filterOptions = (List<FilterOption>)ViewData[ViewDataKeys.FilterOptions];
}

<div id="@Model.Compose("divChartControl")" class="sf-search-control sf-chart-control">
    @Html.HiddenRuntimeInfo(Model)
    @Html.HiddenRuntimeInfo(Model, cr => cr.Chart)
    @Html.Hidden(Model.Compose(ViewDataKeys.QueryName), Navigator.ResolveWebQueryName(queryDescription.QueryName))
    <div>
        <div class="sf-fields-list">
            <div class="ui-widget sf-filters">
                <div class="ui-widget-header ui-corner-top sf-filters-body">
                    @Html.TokensCombo(queryDescription, Model)
                
                    @Html.Href(
                            Model.Compose("btnAddFilter"), 
                            Signum.Web.Properties.Resources.FilterBuilder_AddFilter, 
                            "",
                            Signum.Web.Properties.Resources.Signum_selectToken,
                            "sf-query-button sf-add-filter sf-disabled", 
                            new Dictionary<string, object> 
                            { 
                                { "data-icon", "ui-icon-arrowthick-1-s" },
                                { "data-url", Url.SignumAction("AddFilter") }
                            })
                </div>  
                @{ 
                    Html.RenderPartial(Navigator.Manager.FilterBuilderView); 
                }
            </div>
        </div>
    </div>

    @{ Html.RenderPartial(ChartClient.ChartBuilderView); }
    
    <div class="sf-query-button-bar">
        <button type="submit" class="sf-query-button sf-draw" data-icon="ui-icon-pencil" id="@Model.Compose("qbDraw")" onclick="">@Resources.Chart_Draw</button>
    </div>
    
    <div class="clearall"></div>
</div>

@Html.ScriptsJs("~/Chart/Scripts/SF_Chart.js")