@using Signum.Entities.Chart
@using Signum.Web.Files
@using Signum.Engine
@using Signum.Web.Chart
@Html.ScriptCss(
    "~/Chart/Content/Chart.css")
@using (var cc = Html.TypeContext<ChartScriptDN>())
{
    var imageRoute = cc.Compose("ImageIco");
    
   
    <div class="row">
        <div class="col-sm-11">
            @Html.ValueLine(cc, c => c.Name)
            @Html.FileLine(cc, c => c.Icon.Try(i => i.Retrieve()), fl =>
    {
        fl.LabelText = Html.PropertyNiceName(() => cc.Value.Icon);
        fl.AttachFunction = ChartClient.ModuleScript["refreshIcon"](fl, imageRoute);
    })
            @Html.ValueLine(cc, c => c.GroupBy)
        </div>
        <div class="col-sm-1">
            @if (cc.Value.Icon != null && !cc.Value.Icon.IsNew)
            {
                <div class="col-sm-6">
                    <img id="@imageRoute" src="@Url.Action((FileController fc) => fc.Download(new RuntimeInfo(cc.Value.Icon).ToString()))" />
                </div>
            }
        </div>
    </div>
    
    <div class="sf-chartscript-columns">
        @Html.EntityRepeater(cc, c => c.Columns)
    </div>
    
    @Html.Partial(Signum.Web.Chart.ChartClient.ChartScriptCodeView, cc)
}
