@using Signum.Web
@using Signum.Web.Extensions.Properties
@using Signum.Entities.DynamicQuery
@using Signum.Engine.DynamicQuery
@using System.Configuration
@using Signum.Entities.Reflection
@using Signum.Entities
@using Signum.Entities.Chart
@using Signum.Web.Chart
@model TypeContext<ChartRequest>

@Html.ScriptCss("~/Chart/Content/SF_Chart.css")

@Html.ScriptsJs("~/Chart/Scripts/SF_Chart.js",
                "~/scripts/d3/d3.min.js",
                "~/scripts/d3/d3.geom.min.js",
                "~/scripts/d3/d3.layout.min.js")

@{ 
    QueryDescription queryDescription = (QueryDescription)ViewData[ViewDataKeys.QueryDescription];
    List<FilterOption> filterOptions = (List<FilterOption>)ViewData[ViewDataKeys.FilterOptions];
    bool viewable = (bool)ViewData[ViewDataKeys.View];
    
    var entityColumn = queryDescription.Columns.SingleEx(a => a.IsEntity);
    Type entitiesType = Reflector.ExtractLite(entityColumn.Type);
}

<div id="@Model.Compose("divChartControl")" class="sf-search-control sf-chart-control" data-subtokens-url="@Url.Action("NewSubTokensCombo", "Chart")" data-add-filter-url="@Url.Action("AddFilter", "Chart")" data-prefix="@Model.ControlID" >
    @Html.HiddenRuntimeInfo(Model)
    @Html.HiddenRuntimeInfo(Model, cr => cr.Chart)
    @Html.Hidden(Model.Compose(ViewDataKeys.QueryName), Navigator.ResolveWebQueryName(queryDescription.QueryName))
    <div>
        <div class="sf-fields-list">
            <div class="ui-widget sf-filters">
                <div class="ui-widget-header ui-corner-top sf-filters-body">
                    @Html.ChartRootTokens(Model.Value.Chart, queryDescription, Model)
                    
                    @Html.Href(
                            Model.Compose("btnAddFilter"),
                            Signum.Web.Properties.Resources.FilterBuilder_AddFilter,
                            "",
                            Signum.Web.Properties.Resources.Signum_selectToken,
                            "sf-query-button sf-add-filter sf-disabled",
                            new Dictionary<string, object> 
                            { 
                                { "data-icon", "ui-icon-arrowthick-1-s" },
                                { "data-url", Url.SignumAction("AddFilter") }
                            })
                </div>  
                @{ 
                    Html.RenderPartial(Navigator.Manager.FilterBuilderView); 
                }
            </div>
        </div>
    </div>

    @using (var chart = Model.SubContext(cr => cr.Chart))
    {
        Html.RenderPartial(ChartClient.ChartBuilderView, chart);
    }
    <div class="sf-query-button-bar">
        <button type="submit" class="sf-query-button sf-chart-draw" data-icon="ui-icon-pencil" id="@Model.Compose("qbDraw")" data-url="@(Url.Action<ChartController>(cc => cc.Draw(Model.ControlID)))">@Resources.Chart_Draw</button>
        @ChartClient.GetChartMenu(this.ViewContext, queryDescription.QueryName, entitiesType, Model.ControlID).ToString(Html)
    </div>
    
    <div class="clearall"></div>

    <div id="@Model.Compose("divResults")" class="ui-widget ui-corner-all sf-search-results-container">
        @{ Html.RenderPartial(ChartClient.ChartResultsView); }
    </div>
</div>