@using Signum.Web
@using Signum.Entities.DynamicQuery
@using Signum.Engine.DynamicQuery
@using System.Configuration
@using Signum.Entities.Reflection
@using Signum.Entities
@using Signum.Entities.Chart
@using Signum.Web.Chart
@using Signum.Utilities
@using Signum.Engine
@Html.ScriptCss("~/Chart/Content/Chart.css")

@using (var cpt = Html.TypeContext<ChartPaletteModel>())
{
    @Html.HiddenRuntimeInfo(cpt, cp => cp.Type)
    <table class="table form-vertical" style="width:auto">
        <thead>
            <tr>
                <th>Color
                </th>
                <th>Id
                </th>
                <th>Text
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (TypeContext<ChartColorEntity> clc in cpt.TypeElementContext(cp => cp.Colors))
            {  
                <tr>
                    <td>
                        @Html.HiddenRuntimeInfo(clc, cl => cl.Related)
                        @Html.ValueLine(clc, c=>c.Color, vl=> vl.FormGroupStyle = FormGroupStyle.SrOnly)
                    </td>
                    <td>
                        @clc.Value.Related.Id
                    </td>
                    <td>
                        @clc.Value.Related.ToString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
